*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* this is root declaration-allows REM to be used to allow responsive fonts
    browser have default 16px, so 10px is 62.5% of 16px */ }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/dark-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  /* iOS Safari */
  -webkit-user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  filter: brightness(120%); }

html,
body {
  position: relative;
  width: 100%;
  height: 100%; }

@keyframes parallax-stars {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

@keyframes rotate {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1); }
  50% {
    transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95); }
  100% {
    transform: rotateZ(360deg) scaleX(1) scaleY(1); } }

@keyframes rotate2 {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1); }
  50% {
    transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85); }
  100% {
    transform: rotateZ(-360deg) scaleX(1) scaleY(1); } }

@keyframes hidden {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes zoom-in {
  0% {
    transform: scale(1);
    opacity: 1; }
  60% {
    transform: scale(5);
    opacity: .1; }
  99% {
    opacity: 0;
    z-index: -99999; }
  100% {
    visibility: hidden;
    display: none; } }

@keyframes appear {
  from {
    opacity: 0;
    display: initial; }
  to {
    opacity: 1; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes slide-down {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slide-up {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes shade-up {
  0% {
    height: 0em;
    opacity: 0;
    border-top: 0.1px solid #777;
    background-color: transparent; }
  40% {
    opacity: 0; }
  100% {
    border-top: 3px solid #777;
    height: 3em;
    background-color: #eee;
    color: #000;
    z-index: 100;
    height: 3em;
    opacity: 1; } }

@keyframes slide-in {
  from {
    opacity: 0;
    left: 35rem; }
  to {
    opacity: 1;
    left: 4.5rem; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.heading-primary {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-size: 7.5rem;
  line-height: 8rem;
  margin-top: 9vh;
  padding: 5rem 2rem;
  font-weight: 200;
  color: #fff;
  border: 2px solid #999;
  border-radius: 5px;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 736px) {
    .heading-primary {
      padding: 2rem 2rem; } }
  @media screen and (max-width: 414px) {
    .heading-primary {
      font-size: 5rem; } }

.btn {
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  top: 150%;
  transform: translate(-50%, 100%);
  transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 3);
  transform-style: preserve-3d; }
  @media screen and (max-width: 668px) {
    .btn {
      top: 100%; } }
  .btn__timeline {
    color: #fff;
    display: block;
    width: 100%;
    font-size: 3rem;
    text-decoration: none;
    background-color: #455A64;
    border: none;
    line-height: 5rem;
    height: 5rem; }
  .btn::before, .btn::after {
    content: "";
    display: block;
    position: absolute;
    transform-origin: 50% 0 0;
    transform: rotateX(-90deg);
    width: 100%; }
  .btn::before {
    background-color: #607D8B;
    height: calc(5rem/3); }
  .btn::after {
    background-color: #303f46;
    height: calc(5rem/3); }
  .btn:hover {
    transform: rotateX(20deg) translate(-50%, 100%);
    transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 3); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__files {
    font-size: 5rem;
    text-align: center;
    display: inline-block;
    margin: 2rem 2rem;
    border: 2px solid rgba(0, 0, 0, 0.4);
    width: 20rem;
    height: 16rem;
    color: #999; }
    .popup__files-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 3px;
      max-width: 55rem;
      padding-left: 3rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.25);
      transition: all .5s .2s;
      z-index: 100; }
      @media screen and (max-width: 1042px) {
        .popup__files-content {
          padding-left: 0;
          width: 100%;
          text-align: center; } }
    .popup__files div {
      width: 100%;
      padding-top: 2rem; }
    .popup__files:hover {
      transition: all .5s;
      color: #1976D2;
      border: 2px solid rgba(25, 118, 210, 0.6); }
    .popup__files-caption {
      padding: 0 1rem;
      vertical-align: top;
      display: inline-block;
      font-size: 2.5rem;
      font-weight: 600;
      width: 100%;
      margin-top: 1.5rem;
      line-height: 2.5rem;
      margin-bottom: 1rem; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__files-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
    @media screen and (max-width: 812px) and (orientation: landscape) {
      .popup:target .popup__files-content {
        transform: translate(-50%, -50%) scale(0.6); } }
    @media screen and (max-width: 500px) {
      .popup:target .popup__files-content {
        transform: translate(-50%, -50%) scale(0.6); } }
    @media screen and (max-width: 450px) {
      .popup:target .popup__files-content {
        transform: translate(-50%, -50%) scale(0.5); } }
  .popup__close:link, .popup__close:visited {
    cursor: default;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    z-index: 10; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0; }
  #particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3*6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*6rem)/4) + 2*6rem); }

.navigation-toggle {
  display: none;
  position: fixed;
  z-index: 5000;
  top: -2vh;
  right: 2rem;
  line-height: 5;
  text-align: center; }
  @media screen and (max-width: 667px) {
    .navigation-toggle {
      display: initial; } }
  .navigation-toggle__parent {
    background-color: #1565C0;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    font-weight: 400;
    transition: background-color .3s; }
    .navigation-toggle__parent:hover, .navigation-toggle__parent:active {
      background-color: #0D47A1; }
  .navigation-toggle__parent:active ~ .navigation-toggle__list,
  .navigation-toggle__parent:focus ~ .navigation-toggle__list,
  .navigation-toggle__parent:focus-within ~ .navigation-toggle__list {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */ }
  .navigation-toggle__list {
    height: 0;
    visibility: hidden;
    list-style: none;
    /* hides sub-menu */
    opacity: 0;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-5.5em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s; }
  .navigation-toggle__item {
    height: 6rem;
    position: relative; }
    .navigation-toggle__item:focus {
      outline: none; }
  .navigation-toggle__link:link, .navigation-toggle__link:visited, .navigation-toggle__link:focus {
    width: 100%;
    text-decoration: none;
    outline: none;
    font-size: 2.5rem;
    font-weight: 400;
    max-height: 1rem;
    color: #fff; }
  .navigation-toggle__link i {
    outline: none;
    transition: background-color .3s;
    background-color: #F4511E;
    padding: 1rem 1rem;
    padding-right: 1.1rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%; }
  .navigation-toggle__link:hover i,
  .navigation-toggle__link:active i {
    transition: all .1s linear;
    background-color: #D84315; }

.navigation-top {
  position: fixed;
  color: #fff;
  z-index: 100000;
  font-size: 1.9rem;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #D84315;
  background-color: rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 950px) {
    .navigation-top {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-grow: 1;
      justify-content: space-around; } }
  @media screen and (max-width: 667px) {
    .navigation-top {
      display: none; } }
  .navigation-top__time {
    font-family: 'Faster One', cursive;
    opacity: .5;
    color: #FF7043;
    font-size: 2rem;
    font-weight: 100;
    position: absolute;
    display: inline-block;
    width: 20rem;
    left: 7rem;
    top: 50%;
    transform: translateY(-50%); }
    @media screen and (max-width: 950px) {
      .navigation-top__time {
        display: none; } }
  .navigation-top__link {
    transition: all .3s; }
    @media screen and (max-width: 950px) {
      .navigation-top__link {
        margin: 0 2rem; } }
    @media screen and (max-width: 667px) {
      .navigation-top__link {
        display: none; } }
    .navigation-top__link i {
      margin: 0 .9rem; }
    .navigation-top__link:visited, .navigation-top__link:link {
      margin: 2rem 0;
      font-weight: 400;
      float: right;
      color: inherit;
      text-align: right;
      text-decoration: none;
      text-transform: uppercase;
      padding-right: 3rem; }
    .navigation-top__link:hover {
      color: #1976D2; }

.close {
  animation: slide-down .2s ease-in;
  animation-fill-mode: forwards; }

.open {
  animation: slide-up .2s ease-out;
  animation-fill-mode: forwards; }

.header {
  font-family: 'Amatic SC', cursive;
  height: 100vh;
  min-height: 62rem;
  position: relative;
  background-attachment: fixed;
  background-size: cover; }
  @media screen and (max-width: 812px) and (orientation: landscape) {
    .header {
      min-height: 90rem; } }
  @media screen and (max-width: 700px) {
    .header {
      min-height: 80rem; } }

.intro {
  text-align: center;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 668px) {
    .intro {
      top: 45%; } }
  .intro__heading-primary {
    color: #fff;
    font-size: 8rem;
    margin: 5rem 0; }
  .intro__paragraph {
    display: inline-block;
    width: 55%;
    color: #FF7043;
    font-size: 3rem;
    line-height: 4rem; }
    @media screen and (max-width: 500px) {
      .intro__paragraph {
        width: 35vw; } }
    @media screen and (max-width: 420px) {
      .intro__paragraph {
        width: 40vw; } }

.me {
  display: none;
  transform: translateY(-10%); }
  .me__picture {
    z-index: 1000;
    width: 25rem;
    border-radius: 50%;
    border: 5px solid #607D8B;
    filter: brightness(0.6); }
  @media screen and (max-width: 668px) {
    .me {
      display: block;
      z-index: 1000; } }

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .35;
  z-index: -1;
  overflow: hidden; }
  .video__container {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  @media screen and (max-width: 668px) {
    .video {
      display: none; } }

.timeline {
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  padding-top: 50em;
  padding-bottom: 20rem;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%; }
  .timeline__intro {
    position: relative;
    cursor: default; }
  .timeline__start {
    position: absolute;
    margin: -12rem auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    text-align: center;
    font-size: 7rem;
    color: #455A64; }
    @media screen and (max-width: 600px) {
      .timeline__start {
        position: absolute;
        margin: -11rem auto;
        left: 2.9rem; } }
  .timeline div ul {
    padding: 50px 0; }
  @media screen and (max-width: 500px) {
    .timeline {
      padding-top: 45em; } }
  @media screen and (max-width: 700px) and (orientation: landscape) {
    .timeline {
      padding-top: 45em; } }
  @media screen and (max-width: 400) {
    .timeline {
      padding-top: 40em; } }

.list-element {
  list-style: none;
  position: relative;
  width: .8rem;
  margin: -16rem auto;
  padding-top: 17rem;
  background: #777;
  font-weight: 400;
  font-size: 1.4rem;
  border-radius: 3px;
  color: rgba(238, 238, 238, 0.7); }
  .list-element:first-child {
    padding-top: 2rem; }
  .list-element__title {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(84, 110, 122, 0.8); }
  .list-element__text {
    line-height: 2.3rem; }
  .list-element__link {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    border-radius: 0 0 .5rem .5rem;
    padding-top: 1em;
    color: transparent;
    text-decoration: none; }
    .list-element__link-cross {
      text-decoration: line-through; }
  .list-element:hover .list-element__link {
    color: #1976D2; }
  .list-element::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: .5px;
    transform: translateX(-50%);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    background: inherit; }
  .list-element::after {
    pointer-events: none; }
  .list-element div {
    position: relative;
    bottom: 0;
    width: 40rem;
    padding: 1.5rem;
    background: rgba(69, 90, 100, 0.7);
    border-radius: 5px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.8); }
    .list-element div:hover .list-element__text {
      transition: all .4s .15s;
      filter: blur(3px); }
    .list-element div:hover .list-element__title {
      transition: all .4s .15s;
      filter: blur(3px); }
    .list-element div:hover .list-element__link {
      transition: all .4s;
      animation: shade-up .4s linear;
      animation-fill-mode: forwards; }
    .list-element div::before {
      content: "";
      position: absolute;
      bottom: .5rem;
      width: 0;
      height: 0;
      border-style: solid; }
    .list-element div:hover {
      transition: all .2s;
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); }
  .list-element:nth-child(odd) div {
    left: -43.9rem; }
    .list-element:nth-child(odd) div::before {
      right: -1.6rem;
      border-width: .8rem 0 .8rem 1.6rem;
      border-color: transparent transparent transparent rgba(69, 90, 100, 0.7); }
  .list-element:nth-child(even) div {
    left: 4.5rem; }
    .list-element:nth-child(even) div::before {
      left: -1.6rem;
      border-width: .8rem 1.6rem .8rem 0;
      border-color: transparent rgba(69, 90, 100, 0.7) transparent transparent; }

.list-element::after {
  transition: background .5s ease-in-out; }

.list-element.in-view::after {
  background: #455A64;
  z-index: 1; }

.list-element div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out; }

.list-element:nth-child(odd) div {
  transform: translateX(-20rem); }

.list-element:nth-child(even) div {
  transform: translateX(20rem); }

.list-element.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1; }

@media screen and (max-width: 1000px) {
  .list-element div {
    width: 35vw; }
  .list-element:nth-child(odd) div {
    left: -39vw; }
  .list-element:nth-child(even) div {
    left: 5vw; } }

@media screen and (max-width: 800px) {
  .list-element {
    font-size: 1.2rem; }
    .list-element__title {
      font-size: 1.5rem; } }

@media screen and (max-width: 750px) {
  .list-element:nth-child(odd) div {
    left: -40vw; }
  .list-element:nth-child(even) div {
    left: 6vw; } }

@media screen and (max-width: 600px) {
  .list-element {
    margin-left: 2.5rem; }
    .list-element div {
      width: calc(100vw - 9.5rem);
      transform: translateX(0) !important; }
    .list-element:nth-child(odd) div {
      animation: slide-in .5s ease-in-out;
      left: 4.5rem; }
      .list-element:nth-child(odd) div::before {
        left: -1.6rem;
        border-color: transparent rgba(69, 90, 100, 0.7) transparent transparent;
        border-width: .8rem 1.6rem .8rem 0; }
    .list-element:nth-child(even) div {
      left: 4.5rem; }
      .list-element:nth-child(even) div::before {
        left: -1.6rem; } }

.loading {
  font-family: 'Amatic SC', cursive;
  display: inline-block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100000000;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  filter: brightness(0.7); }
  .loading__animation, .loading__animation-icon {
    color: #f7f7f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 50rem;
    line-height: 50rem;
    text-align: center;
    font-size: 7rem;
    font-weight: 900; }
    .loading__animation p, .loading__animation-icon p {
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: normal;
      animation: typing 2s steps(22) infinite; }
    @media screen and (max-width: 800px) and (orientation: landscape) {
      .loading__animation, .loading__animation-icon {
        width: 28rem;
        height: 28rem;
        line-height: 28rem;
        font-size: 5rem; } }
    @media screen and (max-width: 500px) {
      .loading__animation, .loading__animation-icon {
        width: 35rem;
        height: 35rem;
        line-height: 35rem;
        font-size: 5rem; } }
    @media screen and (max-width: 480px) and (orientation: landscape) {
      .loading__animation, .loading__animation-icon {
        width: 25rem;
        height: 25rem;
        line-height: 25rem;
        font-size: 4rem; } }
    @media screen and (max-width: 320px) {
      .loading__animation, .loading__animation-icon {
        width: 25rem;
        height: 25rem;
        line-height: 25rem;
        font-size: 4rem; } }
    .loading__animation:after, .loading__animation:before, .loading__animation-icon:after, .loading__animation-icon:before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center center; }
    .loading__animation:after, .loading__animation-icon:after {
      box-shadow: inset 0 -17.5px 0 rgba(244, 81, 30, 0.6), inset -17.5px 0 0 rgba(216, 67, 21, 0.6);
      animation: rotate 2s -0.5s linear infinite; }
    .loading__animation:before, .loading__animation-icon:before {
      box-shadow: inset 0 -17.5px 0 rgba(13, 71, 161, 0.6), inset -17.5px 0 0 rgba(21, 101, 192, 0.6);
      animation: rotate2 2s -0.5s linear infinite; }
  .loading__animation-icon {
    left: 4rem;
    width: 3rem;
    height: 2px; }
    @media screen and (max-width: 950px) {
      .loading__animation-icon {
        display: none; } }

#stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 7px 1078px 1px #fff, 1704px 1723px 1px #FFF, 613px 1355px 1px #FFF, 883px 708px 1px #FFF, 1612px 1052px 1px #FFF, 359px 1102px 1px #FFF, 1602px 1472px 1px #FFF, 1739px 788px 1px #FFF, 1830px 1908px 1px #FFF, 437px 1986px 1px #FFF, 480px 803px 1px #FFF, 1893px 15px 1px #FFF, 1506px 889px 1px #FFF, 891px 332px 1px #FFF, 385px 908px 1px #FFF, 1076px 1381px 1px #FFF, 526px 1917px 1px #FFF, 1899px 1961px 1px #FFF, 1857px 1382px 1px #FFF, 118px 1719px 1px #FFF, 771px 1157px 1px #FFF, 1658px 20px 1px #FFF, 230px 523px 1px #FFF, 88px 1483px 1px #FFF, 942px 1837px 1px #FFF, 779px 1734px 1px #FFF, 1937px 319px 1px #FFF, 285px 1729px 1px #FFF, 771px 34px 1px #FFF, 1955px 412px 1px #FFF, 1293px 1428px 1px #FFF, 482px 1080px 1px #FFF, 1998px 1828px 1px #FFF, 1929px 1354px 1px #FFF, 1469px 1129px 1px #FFF, 606px 757px 1px #FFF, 1806px 928px 1px #FFF, 1014px 1666px 1px #FFF, 1307px 1077px 1px #FFF, 1221px 583px 1px #FFF, 1809px 860px 1px #FFF, 679px 1347px 1px #FFF, 1808px 1854px 1px #FFF, 248px 135px 1px #FFF, 1855px 1708px 1px #FFF, 1984px 433px 1px #FFF, 792px 76px 1px #FFF, 1129px 136px 1px #FFF, 1322px 1418px 1px #FFF, 1989px 463px 1px #FFF, 30px 1175px 1px #FFF, 249px 1863px 1px #FFF, 807px 834px 1px #FFF, 1936px 63px 1px #FFF, 1480px 353px 1px #FFF, 1516px 1292px 1px #FFF, 1788px 1067px 1px #FFF, 1353px 800px 1px #FFF, 109px 932px 1px #FFF, 126px 859px 1px #FFF, 319px 980px 1px #FFF, 727px 1614px 1px #FFF, 989px 1655px 1px #FFF, 1179px 387px 1px #FFF, 1195px 210px 1px #FFF, 1360px 864px 1px #FFF, 1343px 344px 1px #FFF, 921px 1583px 1px #FFF, 667px 309px 1px #FFF, 1066px 1949px 1px #FFF, 680px 1817px 1px #FFF, 784px 608px 1px #FFF, 339px 209px 1px #FFF, 422px 913px 1px #FFF, 1589px 1525px 1px #FFF, 248px 267px 1px #FFF, 578px 789px 1px #FFF, 1171px 497px 1px #FFF, 1265px 483px 1px #FFF, 755px 108px 1px #FFF, 917px 794px 1px #FFF, 907px 1913px 1px #FFF, 1569px 561px 1px #FFF, 835px 429px 1px #FFF, 1793px 1200px 1px #FFF, 1556px 1103px 1px #FFF, 1155px 1777px 1px #FFF, 1612px 303px 1px #FFF, 65px 21px 1px #FFF, 528px 1397px 1px #FFF, 76px 1721px 1px #FFF, 981px 1834px 1px #FFF, 131px 33px 1px #FFF, 1644px 280px 1px #FFF, 1396px 1728px 1px #FFF, 419px 1019px 1px #FFF, 401px 159px 1px #FFF, 958px 831px 1px #FFF, 1234px 1855px 1px #FFF, 1874px 231px 1px #FFF, 1197px 350px 1px #FFF, 1399px 962px 1px #FFF, 850px 1904px 1px #FFF, 1224px 74px 1px #FFF, 1286px 100px 1px #FFF, 678px 631px 1px #FFF, 1704px 862px 1px #FFF, 1438px 816px 1px #FFF, 1321px 1569px 1px #FFF, 860px 1091px 1px #FFF, 1371px 1431px 1px #FFF, 1030px 932px 1px #FFF, 272px 1511px 1px #FFF, 1917px 152px 1px #FFF, 1507px 1006px 1px #FFF, 1685px 1818px 1px #FFF, 1450px 1211px 1px #FFF, 1893px 423px 1px #FFF, 1803px 1582px 1px #FFF, 799px 1803px 1px #FFF, 1004px 460px 1px #FFF, 569px 1984px 1px #FFF, 162px 827px 1px #FFF, 41px 1763px 1px #FFF, 1088px 405px 1px #FFF, 1908px 860px 1px #FFF, 248px 586px 1px #FFF, 693px 1646px 1px #FFF, 1460px 1960px 1px #FFF, 1376px 1064px 1px #FFF, 1242px 234px 1px #FFF, 617px 332px 1px #FFF, 1311px 1809px 1px #FFF, 1031px 721px 1px #FFF, 1277px 57px 1px #FFF, 1658px 568px 1px #FFF, 452px 206px 1px #FFF, 899px 1881px 1px #FFF, 566px 1000px 1px #FFF, 801px 1747px 1px #FFF, 1679px 229px 1px #FFF, 604px 1247px 1px #FFF, 881px 1748px 1px #FFF, 980px 663px 1px #FFF, 483px 210px 1px #FFF, 1167px 667px 1px #FFF, 707px 764px 1px #FFF, 1486px 1875px 1px #FFF, 713px 1599px 1px #FFF, 998px 1197px 1px #FFF, 257px 1765px 1px #FFF, 687px 1627px 1px #FFF, 308px 1369px 1px #FFF, 1332px 727px 1px #FFF, 1129px 629px 1px #FFF, 1929px 1179px 1px #FFF, 1415px 164px 1px #FFF, 867px 1530px 1px #FFF, 534px 1549px 1px #FFF, 195px 1915px 1px #FFF, 1922px 845px 1px #FFF, 289px 1150px 1px #FFF, 1918px 576px 1px #FFF, 893px 978px 1px #FFF, 1132px 1229px 1px #FFF, 1510px 1123px 1px #FFF, 599px 1633px 1px #FFF, 368px 1047px 1px #FFF, 1751px 742px 1px #FFF, 605px 1209px 1px #FFF, 671px 24px 1px #FFF, 764px 1999px 1px #FFF, 1063px 987px 1px #FFF, 1096px 422px 1px #FFF, 568px 1659px 1px #FFF, 1175px 792px 1px #FFF, 983px 370px 1px #FFF, 1072px 1800px 1px #FFF, 460px 922px 1px #FFF, 1572px 1062px 1px #FFF, 849px 124px 1px #FFF, 1452px 1955px 1px #FFF, 687px 1857px 1px #FFF, 1620px 524px 1px #FFF, 1748px 461px 1px #FFF, 1487px 733px 1px #FFF, 592px 377px 1px #FFF, 781px 1550px 1px #FFF, 352px 1673px 1px #FFF, 1428px 422px 1px #FFF, 1091px 679px 1px #FFF, 1567px 1807px 1px #FFF, 14px 1133px 1px #FFF, 75px 1781px 1px #FFF, 1260px 182px 1px #FFF, 420px 626px 1px #FFF, 738px 1883px 1px #FFF, 388px 1356px 1px #FFF, 1822px 638px 1px #FFF, 1526px 38px 1px #FFF, 104px 1976px 1px #FFF, 414px 662px 1px #FFF, 454px 682px 1px #FFF, 1855px 1910px 1px #FFF, 719px 1621px 1px #FFF, 1780px 244px 1px #FFF, 1645px 1589px 1px #FFF, 1441px 1712px 1px #FFF, 508px 1811px 1px #FFF, 361px 279px 1px #FFF, 476px 561px 1px #FFF, 188px 824px 1px #FFF, 357px 653px 1px #FFF, 1520px 1626px 1px #FFF, 992px 644px 1px #FFF, 531px 240px 1px #FFF, 177px 1893px 1px #FFF, 327px 1648px 1px #FFF, 364px 919px 1px #FFF, 865px 596px 1px #FFF, 389px 1524px 1px #FFF, 1941px 1043px 1px #FFF, 123px 159px 1px #FFF, 222px 1351px 1px #FFF, 1747px 498px 1px #FFF, 1826px 507px 1px #FFF, 1373px 1189px 1px #FFF, 1628px 30px 1px #FFF, 1530px 1348px 1px #FFF, 617px 1692px 1px #FFF, 1626px 1595px 1px #FFF, 512px 956px 1px #FFF, 64px 454px 1px #FFF, 1029px 1187px 1px #FFF, 636px 780px 1px #FFF, 1656px 1416px 1px #FFF, 423px 1422px 1px #FFF, 763px 730px 1px #FFF, 1648px 361px 1px #FFF, 1569px 578px 1px #FFF, 1918px 531px 1px #FFF, 552px 774px 1px #FFF, 953px 1581px 1px #FFF, 93px 1930px 1px #FFF, 1942px 1758px 1px #FFF, 386px 1968px 1px #FFF, 850px 1775px 1px #FFF, 1377px 442px 1px #FFF, 1682px 1507px 1px #FFF, 34px 898px 1px #FFF, 1353px 1076px 1px #FFF, 1049px 576px 1px #FFF, 449px 1872px 1px #FFF, 1582px 1492px 1px #FFF, 1302px 598px 1px #FFF, 1488px 1355px 1px #FFF, 1086px 1544px 1px #FFF, 1873px 1821px 1px #FFF, 1150px 509px 1px #FFF, 1599px 1913px 1px #FFF, 1102px 1944px 1px #FFF, 1964px 916px 1px #FFF, 101px 902px 1px #FFF, 446px 757px 1px #FFF, 429px 1592px 1px #FFF, 651px 1207px 1px #FFF, 591px 1435px 1px #FFF, 194px 1466px 1px #FFF, 904px 1257px 1px #FFF, 259px 830px 1px #FFF, 928px 1035px 1px #FFF, 1066px 1446px 1px #FFF, 135px 1477px 1px #FFF, 1274px 1105px 1px #FFF, 1354px 266px 1px #FFF, 900px 843px 1px #FFF, 260px 1071px 1px #FFF, 1470px 1717px 1px #FFF, 788px 1262px 1px #FFF, 1480px 1838px 1px #FFF, 1564px 123px 1px #FFF, 1474px 1442px 1px #FFF, 1091px 1111px 1px #FFF, 162px 1887px 1px #FFF, 418px 1651px 1px #FFF, 1219px 44px 1px #FFF, 1928px 759px 1px #FFF, 1556px 1422px 1px #FFF, 1673px 1933px 1px #FFF, 52px 106px 1px #FFF, 430px 1034px 1px #FFF, 1204px 1643px 1px #FFF, 1086px 154px 1px #FFF, 1315px 1032px 1px #FFF, 1842px 775px 1px #FFF, 1199px 1832px 1px #FFF, 106px 865px 1px #FFF, 589px 137px 1px #FFF, 103px 1462px 1px #FFF, 205px 1802px 1px #FFF, 1081px 1280px 1px #FFF, 746px 1856px 1px #FFF, 1097px 1202px 1px #FFF, 647px 1242px 1px #FFF, 494px 395px 1px #FFF, 984px 295px 1px #FFF, 893px 297px 1px #FFF, 135px 784px 1px #FFF, 1628px 1474px 1px #FFF, 1325px 115px 1px #FFF, 200px 1157px 1px #FFF, 1824px 726px 1px #FFF, 299px 1094px 1px #FFF, 1294px 49px 1px #FFF, 1703px 7px 1px #FFF, 1944px 520px 1px #FFF, 727px 809px 1px #FFF, 909px 407px 1px #FFF, 1372px 1828px 1px #FFF, 1069px 1313px 1px #FFF, 1461px 882px 1px #FFF, 1865px 1427px 1px #FFF, 40px 109px 1px #FFF, 824px 829px 1px #FFF, 45px 305px 1px #FFF, 1073px 1595px 1px #FFF, 1301px 570px 1px #FFF, 1529px 939px 1px #FFF, 1135px 1032px 1px #FFF, 494px 1749px 1px #FFF, 118px 1453px 1px #FFF, 918px 1656px 1px #FFF, 571px 15px 1px #FFF, 198px 555px 1px #FFF, 60px 129px 1px #FFF, 560px 916px 1px #FFF, 1438px 1842px 1px #FFF, 1609px 1333px 1px #FFF, 322px 689px 1px #FFF, 1814px 192px 1px #FFF, 586px 553px 1px #FFF, 815px 1956px 1px #FFF, 311px 111px 1px #FFF, 105px 1409px 1px #FFF, 1127px 271px 1px #FFF, 25px 1332px 1px #FFF, 1796px 639px 1px #FFF, 1918px 594px 1px #FFF, 909px 428px 1px #FFF, 103px 1219px 1px #FFF, 1862px 366px 1px #FFF, 881px 420px 1px #FFF, 1551px 386px 1px #FFF, 1612px 726px 1px #FFF, 392px 1433px 1px #FFF, 1124px 643px 1px #FFF, 619px 1145px 1px #FFF, 767px 799px 1px #FFF, 1688px 762px 1px #FFF, 1116px 869px 1px #FFF, 313px 1980px 1px #FFF, 536px 585px 1px #FFF, 957px 143px 1px #FFF, 842px 992px 1px #FFF, 112px 130px 1px #FFF, 1674px 1846px 1px #FFF, 1487px 138px 1px #FFF, 1138px 905px 1px #FFF, 406px 691px 1px #FFF, 1357px 1485px 1px #FFF, 1852px 1409px 1px #FFF, 896px 1801px 1px #FFF, 81px 35px 1px #FFF, 512px 1637px 1px #FFF, 1075px 1919px 1px #FFF, 1534px 598px 1px #FFF, 1044px 1268px 1px #FFF, 702px 1154px 1px #FFF, 761px 1958px 1px #FFF, 1493px 545px 1px #FFF, 1847px 1357px 1px #FFF, 1061px 720px 1px #FFF, 1521px 1383px 1px #FFF, 1129px 1475px 1px #FFF, 618px 1309px 1px #FFF, 941px 1544px 1px #FFF, 63px 509px 1px #FFF, 22px 1283px 1px #FFF, 491px 1761px 1px #FFF, 1093px 1664px 1px #FFF, 362px 418px 1px #FFF, 1643px 839px 1px #FFF, 1997px 916px 1px #FFF, 23px 184px 1px #FFF, 435px 440px 1px #FFF, 1381px 167px 1px #FFF, 1389px 808px 1px #FFF, 691px 194px 1px #FFF, 1084px 142px 1px #FFF, 178px 573px 1px #FFF, 456px 487px 1px #FFF, 1664px 238px 1px #FFF, 444px 960px 1px #FFF, 1048px 136px 1px #FFF, 475px 1342px 1px #FFF, 1763px 191px 1px #FFF, 1820px 1297px 1px #FFF, 552px 1099px 1px #FFF, 815px 1198px 1px #FFF, 1030px 1358px 1px #FFF, 542px 788px 1px #FFF, 502px 1164px 1px #FFF, 470px 1370px 1px #FFF, 1563px 1409px 1px #FFF, 639px 1533px 1px #FFF, 1236px 615px 1px #FFF, 1558px 825px 1px #FFF, 1640px 1799px 1px #FFF, 1378px 1841px 1px #FFF, 533px 1102px 1px #FFF, 1526px 872px 1px #FFF, 949px 989px 1px #FFF, 1946px 1127px 1px #FFF, 1079px 441px 1px #FFF, 977px 1927px 1px #FFF, 1944px 706px 1px #FFF, 1768px 1375px 1px #FFF, 1299px 1720px 1px #FFF, 557px 1141px 1px #FFF, 1909px 103px 1px #FFF, 916px 176px 1px #FFF, 129px 294px 1px #FFF, 9px 1519px 1px #FFF, 531px 342px 1px #FFF, 1638px 174px 1px #FFF, 1573px 646px 1px #FFF, 496px 170px 1px #FFF, 1480px 456px 1px #FFF, 104px 821px 1px #FFF, 1410px 1628px 1px #FFF, 733px 709px 1px #FFF, 1701px 934px 1px #FFF, 927px 946px 1px #FFF, 1102px 1973px 1px #FFF, 363px 253px 1px #FFF, 1422px 217px 1px #FFF, 1509px 1277px 1px #FFF, 1406px 1895px 1px #FFF, 955px 999px 1px #FFF, 234px 1745px 1px #FFF, 1634px 1487px 1px #FFF, 1643px 69px 1px #FFF, 1781px 876px 1px #FFF, 444px 588px 1px #FFF, 1757px 1320px 1px #FFF, 1645px 1777px 1px #FFF, 28px 1025px 1px #FFF, 961px 8px 1px #FFF, 700px 1978px 1px #FFF, 1038px 1334px 1px #FFF, 78px 1631px 1px #FFF, 1785px 1215px 1px #FFF, 974px 202px 1px #FFF, 1239px 1558px 1px #FFF, 823px 869px 1px #FFF, 660px 1332px 1px #FFF, 358px 166px 1px #FFF, 1410px 1981px 1px #FFF, 1366px 718px 1px #FFF, 1622px 306px 1px #FFF, 1536px 1711px 1px #FFF, 1585px 560px 1px #FFF, 1443px 637px 1px #FFF, 1069px 239px 1px #FFF, 1444px 1624px 1px #FFF, 1763px 442px 1px #FFF, 424px 168px 1px #FFF, 384px 1333px 1px #FFF, 229px 1694px 1px #FFF, 619px 667px 1px #FFF, 761px 850px 1px #FFF, 908px 277px 1px #FFF, 163px 1025px 1px #FFF, 1163px 93px 1px #FFF, 16px 365px 1px #FFF, 633px 1831px 1px #FFF, 485px 1854px 1px #FFF, 1105px 619px 1px #FFF, 130px 1418px 1px #FFF, 1229px 1499px 1px #FFF, 101px 1312px 1px #FFF, 1668px 941px 1px #FFF, 1566px 1444px 1px #FFF, 840px 943px 1px #FFF, 98px 112px 1px #FFF, 1117px 1375px 1px #FFF, 1216px 1078px 1px #FFF, 403px 15px 1px #FFF, 1244px 1557px 1px #FFF, 511px 167px 1px #FFF, 312px 295px 1px #FFF, 386px 1026px 1px #FFF, 979px 1089px 1px #FFF, 871px 1839px 1px #FFF, 788px 1408px 1px #FFF, 1907px 789px 1px #FFF, 499px 577px 1px #FFF, 1957px 1038px 1px #FFF, 581px 1709px 1px #FFF, 1354px 925px 1px #FFF, 1150px 1216px 1px #FFF, 1713px 1573px 1px #FFF, 1748px 1722px 1px #FFF, 26px 1420px 1px #FFF, 1822px 125px 1px #FFF, 1160px 1761px 1px #FFF, 980px 1550px 1px #FFF, 1673px 1983px 1px #FFF, 1720px 1202px 1px #FFF, 1736px 1746px 1px #FFF, 47px 496px 1px #FFF, 88px 1208px 1px #FFF, 1192px 1298px 1px #FFF, 117px 60px 1px #FFF, 1190px 1075px 1px #FFF, 1682px 475px 1px #FFF, 859px 1063px 1px #FFF, 1001px 913px 1px #FFF, 594px 838px 1px #FFF, 1091px 1154px 1px #FFF, 1592px 1943px 1px #FFF, 156px 1821px 1px #FFF, 1929px 932px 1px #FFF, 220px 575px 1px #FFF, 234px 1405px 1px #FFF, 1903px 950px 1px #FFF, 270px 893px 1px #FFF, 1691px 105px 1px #FFF, 980px 1787px 1px #FFF, 439px 902px 1px #FFF, 1941px 1523px 1px #FFF, 1312px 358px 1px #FFF, 1377px 787px 1px #FFF, 1271px 1058px 1px #FFF, 1523px 1458px 1px #FFF, 1090px 1880px 1px #FFF, 393px 1671px 1px #FFF, 1559px 1889px 1px #FFF, 1757px 1884px 1px #FFF, 322px 695px 1px #FFF, 945px 1935px 1px #FFF, 74px 399px 1px #FFF, 1198px 555px 1px #FFF, 589px 1162px 1px #FFF, 247px 215px 1px #FFF, 25px 656px 1px #FFF, 257px 1047px 1px #FFF, 1715px 1259px 1px #FFF, 1067px 467px 1px #FFF, 1881px 1282px 1px #FFF, 1302px 1755px 1px #FFF, 638px 1881px 1px #FFF, 1076px 1697px 1px #FFF, 1014px 574px 1px #FFF, 262px 1373px 1px #FFF, 1237px 1243px 1px #FFF, 220px 101px 1px #FFF, 229px 776px 1px #FFF, 783px 1133px 1px #FFF, 1243px 867px 1px #FFF, 1389px 1412px 1px #FFF, 897px 1759px 1px #FFF, 491px 1456px 1px #FFF, 1634px 1179px 1px #FFF, 1381px 720px 1px #FFF, 395px 1787px 1px #FFF, 1860px 1861px 1px #FFF, 327px 32px 1px #FFF, 1115px 385px 1px #FFF, 342px 980px 1px #FFF, 299px 714px 1px #FFF, 1284px 860px 1px #FFF, 1947px 1560px 1px #FFF, 1148px 227px 1px #FFF, 1195px 1273px 1px #FFF, 246px 1062px 1px #FFF, 594px 1224px 1px #FFF, 409px 875px 1px #FFF, 823px 265px 1px #FFF, 246px 628px 1px #FFF, 566px 5px 1px #FFF, 166px 1565px 1px #FFF, 433px 1077px 1px #FFF, 919px 1531px 1px #FFF, 20px 1340px 1px #FFF, 1498px 1639px 1px #FFF, 1965px 1962px 1px #FFF, 184px 1893px 1px #FFF, 71px 1244px 1px #FFF, 1579px 1573px 1px #FFF, 122px 1001px 1px #FFF, 791px 1062px 1px #FFF, 734px 726px 1px #FFF, 1866px 95px 1px #FFF, 315px 1361px 1px #FFF, 1479px 1561px 1px #FFF, 1165px 67px 1px #FFF, 630px 1606px 1px #FFF, 503px 1535px 1px #FFF, 610px 1560px 1px #FFF, 290px 119px 1px #FFF, 1273px 1119px 1px #FFF, 486px 1753px 1px #FFF, 1578px 1172px 1px #FFF, 875px 1873px 1px #FFF, 944px 1202px 1px #FFF, 930px 1163px 1px #FFF, 1251px 1547px 1px #FFF, 1553px 55px 1px #FFF, 1997px 1011px 1px #FFF, 1467px 192px 1px #FFF, 1826px 1767px 1px #FFF, 966px 1669px 1px #FFF, 595px 431px 1px #FFF, 644px 919px 1px #FFF, 1791px 411px 1px #FFF, 1156px 1611px 1px #FFF, 790px 837px 1px #FFF, 1970px 526px 1px #FFF, 194px 1030px 1px #FFF, 1955px 848px 1px #FFF, 826px 258px 1px #FFF, 488px 26px 1px #FFF, 1591px 745px 1px #FFF, 949px 1281px 1px #FFF, 421px 1160px 1px #FFF, 84px 897px 1px #FFF, 1211px 1917px 1px #FFF, 1222px 368px 1px #FFF, 1377px 1186px 1px #FFF, 1259px 888px 1px #FFF, 1742px 678px 1px #FFF, 540px 1923px 1px #FFF, 26px 1646px 1px #FFF, 663px 816px 1px #FFF, 961px 622px 1px #FFF, 466px 1538px 1px #FFF, 1075px 1043px 1px #FFF, 1881px 1422px 1px #FFF, 924px 1761px 1px #FFF, 1459px 17px 1px #FFF, 1016px 1935px 1px #FFF, 1089px 1810px 1px #FFF, 417px 1970px 1px #FFF, 1177px 1636px 1px #FFF, 1801px 1598px 1px #FFF, 1406px 139px 1px #FFF, 1598px 214px 1px #FFF, 740px 655px 1px #FFF, 930px 808px 1px #FFF, 475px 1888px 1px #FFF, 546px 686px 1px #FFF, 567px 1245px 1px #FFF, 1278px 175px 1px #FFF, 747px 508px 1px #FFF, 116px 134px 1px #FFF, 1954px 990px 1px #FFF, 557px 163px 1px #FFF, 14px 1521px 1px #FFF, 1563px 1407px 1px #FFF, 1421px 1329px 1px #FFF, 585px 1958px 1px #FFF, 1877px 1963px 1px #FFF, 1312px 1898px 1px #FFF, 1072px 978px 1px #FFF, 59px 81px 1px #FFF, 1323px 413px 1px #FFF, 322px 6px 1px #FFF, 1963px 354px 1px #FFF, 466px 1421px 1px #FFF, 1664px 327px 1px #FFF, 1772px 1065px 1px #FFF, 529px 1329px 1px #FFF, 1334px 1858px 1px #FFF, 1205px 1599px 1px #FFF, 1408px 1627px 1px #FFF, 1189px 1052px 1px #FFF, 95px 955px 1px #FFF, 570px 1042px 1px #FFF, 213px 1819px 1px #FFF, 1446px 451px 1px #FFF, 1699px 746px 1px #FFF, 1312px 1176px 1px #FFF, 1443px 1193px 1px #FFF, 1301px 1691px 1px #FFF, 1437px 69px 1px #FFF, 465px 197px 1px #FFF, 1277px 154px 1px #FFF, 1223px 898px 1px #FFF, 1180px 1339px 1px #FFF, 89px 258px 1px #FFF;
  animation: parallax-stars 50s linear infinite; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1854px 1829px 1px #fff, 443px 99px 1px #FFF, 940px 1078px 1px #FFF, 1475px 373px 1px #FFF, 304px 1229px 1px #FFF, 232px 1854px 1px #FFF, 780px 856px 1px #FFF, 910px 463px 1px #FFF, 943px 1920px 1px #FFF, 157px 1123px 1px #FFF, 518px 1676px 1px #FFF, 1197px 1135px 1px #FFF, 433px 570px 1px #FFF, 1125px 684px 1px #FFF, 119px 1418px 1px #FFF, 1544px 1988px 1px #FFF, 1207px 562px 1px #FFF, 394px 1665px 1px #FFF, 1817px 1592px 1px #FFF, 194px 849px 1px #FFF, 1367px 1560px 1px #FFF, 1169px 685px 1px #FFF, 1111px 1442px 1px #FFF, 910px 761px 1px #FFF, 1506px 35px 1px #FFF, 801px 1851px 1px #FFF, 618px 765px 1px #FFF, 1842px 548px 1px #FFF, 1426px 899px 1px #FFF, 1837px 1878px 1px #FFF, 1671px 434px 1px #FFF, 1153px 1373px 1px #FFF, 783px 1910px 1px #FFF, 855px 1550px 1px #FFF, 810px 94px 1px #FFF, 1811px 448px 1px #FFF, 1950px 201px 1px #FFF, 1252px 1530px 1px #FFF, 1809px 587px 1px #FFF, 122px 1936px 1px #FFF, 1530px 950px 1px #FFF, 1817px 615px 1px #FFF, 662px 535px 1px #FFF, 7px 1291px 1px #FFF, 1456px 1334px 1px #FFF, 1632px 16px 1px #FFF, 1404px 1281px 1px #FFF, 1833px 98px 1px #FFF, 765px 1059px 1px #FFF, 793px 892px 1px #FFF, 1979px 873px 1px #FFF, 198px 1559px 1px #FFF, 1934px 1632px 1px #FFF, 1380px 1674px 1px #FFF, 1630px 700px 1px #FFF, 1794px 1392px 1px #FFF, 79px 777px 1px #FFF, 198px 1976px 1px #FFF, 291px 613px 1px #FFF, 313px 91px 1px #FFF, 382px 568px 1px #FFF, 1476px 247px 1px #FFF, 1026px 1732px 1px #FFF, 1077px 777px 1px #FFF, 1651px 1249px 1px #FFF, 293px 352px 1px #FFF, 585px 1810px 1px #FFF, 603px 1473px 1px #FFF, 792px 1467px 1px #FFF, 1040px 1660px 1px #FFF, 1849px 1305px 1px #FFF, 404px 179px 1px #FFF, 10px 653px 1px #FFF, 1721px 910px 1px #FFF, 1308px 1790px 1px #FFF, 18px 1016px 1px #FFF, 205px 1190px 1px #FFF, 397px 435px 1px #FFF, 888px 332px 1px #FFF, 867px 91px 1px #FFF, 1640px 1601px 1px #FFF, 330px 366px 1px #FFF, 629px 1293px 1px #FFF, 1938px 520px 1px #FFF, 1242px 930px 1px #FFF, 1231px 1006px 1px #FFF, 152px 49px 1px #FFF, 117px 440px 1px #FFF, 1435px 457px 1px #FFF, 258px 993px 1px #FFF, 451px 1120px 1px #FFF, 905px 851px 1px #FFF, 290px 816px 1px #FFF, 382px 329px 1px #FFF, 704px 1288px 1px #FFF, 1529px 1340px 1px #FFF, 1642px 1200px 1px #FFF, 554px 36px 1px #FFF, 539px 1890px 1px #FFF, 399px 1259px 1px #FFF, 1782px 1751px 1px #FFF, 1041px 960px 1px #FFF, 420px 363px 1px #FFF, 1011px 1460px 1px #FFF, 609px 381px 1px #FFF, 1401px 824px 1px #FFF, 120px 1412px 1px #FFF, 1103px 784px 1px #FFF, 344px 1393px 1px #FFF, 1917px 750px 1px #FFF, 679px 1522px 1px #FFF, 1718px 1292px 1px #FFF, 1651px 727px 1px #FFF, 655px 1801px 1px #FFF, 1332px 175px 1px #FFF, 1699px 973px 1px #FFF, 160px 1973px 1px #FFF, 691px 458px 1px #FFF, 1259px 253px 1px #FFF, 1101px 1617px 1px #FFF, 504px 1381px 1px #FFF, 1486px 740px 1px #FFF, 1995px 1273px 1px #FFF, 1943px 643px 1px #FFF, 801px 1397px 1px #FFF, 1357px 1348px 1px #FFF, 1579px 1865px 1px #FFF, 417px 1619px 1px #FFF, 1737px 142px 1px #FFF, 146px 625px 1px #FFF, 94px 971px 1px #FFF, 888px 993px 1px #FFF, 980px 1827px 1px #FFF, 925px 148px 1px #FFF, 1328px 521px 1px #FFF, 224px 1797px 1px #FFF, 1233px 536px 1px #FFF, 1010px 712px 1px #FFF, 847px 1412px 1px #FFF, 988px 463px 1px #FFF, 800px 599px 1px #FFF, 523px 8px 1px #FFF, 1576px 1693px 1px #FFF, 861px 1px 1px #FFF, 1504px 674px 1px #FFF, 1208px 544px 1px #FFF, 1215px 1261px 1px #FFF, 1347px 1051px 1px #FFF, 764px 867px 1px #FFF, 286px 371px 1px #FFF, 876px 766px 1px #FFF, 805px 774px 1px #FFF, 497px 1713px 1px #FFF, 625px 575px 1px #FFF, 96px 1041px 1px #FFF, 1036px 1824px 1px #FFF, 50px 856px 1px #FFF, 177px 467px 1px #FFF, 1619px 1727px 1px #FFF, 257px 1693px 1px #FFF, 877px 21px 1px #FFF, 673px 1052px 1px #FFF, 1444px 1140px 1px #FFF, 15px 1774px 1px #FFF, 467px 539px 1px #FFF, 141px 1418px 1px #FFF, 331px 297px 1px #FFF, 1137px 979px 1px #FFF, 1466px 322px 1px #FFF, 1018px 1181px 1px #FFF, 1696px 365px 1px #FFF, 1354px 1946px 1px #FFF, 100px 201px 1px #FFF, 767px 432px 1px #FFF, 245px 200px 1px #FFF, 455px 916px 1px #FFF, 1691px 1895px 1px #FFF, 1575px 601px 1px #FFF, 1163px 571px 1px #FFF, 845px 328px 1px #FFF, 1190px 222px 1px #FFF, 453px 289px 1px #FFF, 1796px 16px 1px #FFF, 194px 692px 1px #FFF, 1287px 267px 1px #FFF, 424px 190px 1px #FFF, 269px 1464px 1px #FFF, 857px 685px 1px #FFF, 1446px 704px 1px #FFF, 1748px 1312px 1px #FFF, 206px 1096px 1px #FFF, 1856px 1318px 1px #FFF, 1927px 1423px 1px #FFF, 1779px 234px 1px #FFF, 746px 506px 1px #FFF, 1150px 1472px 1px #FFF, 1379px 1878px 1px #FFF, 390px 1506px 1px #FFF, 1116px 1856px 1px #FFF, 944px 1582px 1px #FFF, 832px 136px 1px #FFF;
  animation: parallax-stars 80s linear infinite; }

#stars3 {
  width: 3px;
  height: 4px;
  background: transparent;
  box-shadow: 427px 1974px 1px #fff, 1537px 1848px 1px #FFF, 1963px 1905px 1px #FFF, 498px 1564px 1px #FFF, 1951px 227px 1px #FFF, 1597px 1533px 1px #FFF, 941px 21px 1px #FFF, 1097px 1020px 1px #FFF, 1116px 1846px 1px #FFF, 1008px 365px 1px #FFF, 495px 129px 1px #FFF, 1804px 1395px 1px #FFF, 1293px 758px 1px #FFF, 1244px 1835px 1px #FFF, 1071px 15px 1px #FFF, 1316px 647px 1px #FFF, 1141px 594px 1px #FFF, 960px 1435px 1px #FFF, 1813px 807px 1px #FFF, 1628px 1716px 1px #FFF, 1542px 163px 1px #FFF, 1080px 268px 1px #FFF, 1356px 575px 1px #FFF, 1383px 461px 1px #FFF, 1912px 1921px 1px #FFF, 292px 1210px 1px #FFF, 925px 363px 1px #FFF, 756px 1363px 1px #FFF, 1450px 1146px 1px #FFF, 178px 1049px 1px #FFF, 1813px 1509px 1px #FFF, 15px 447px 1px #FFF, 1536px 390px 1px #FFF, 786px 1856px 1px #FFF, 1418px 373px 1px #FFF, 1220px 1871px 1px #FFF, 67px 1411px 1px #FFF, 1044px 25px 1px #FFF, 1497px 193px 1px #FFF, 663px 1331px 1px #FFF, 801px 558px 1px #FFF, 370px 839px 1px #FFF, 224px 562px 1px #FFF, 1773px 1782px 1px #FFF, 1080px 1111px 1px #FFF, 909px 268px 1px #FFF, 1503px 1153px 1px #FFF, 1405px 1721px 1px #FFF, 452px 268px 1px #FFF, 1123px 883px 1px #FFF, 155px 884px 1px #FFF, 1482px 1462px 1px #FFF, 121px 1599px 1px #FFF, 1720px 1768px 1px #FFF, 669px 504px 1px #FFF, 462px 532px 1px #FFF, 357px 495px 1px #FFF, 834px 392px 1px #FFF, 1742px 568px 1px #FFF, 1294px 381px 1px #FFF, 1294px 845px 1px #FFF, 1380px 1354px 1px #FFF, 1615px 995px 1px #FFF, 714px 698px 1px #FFF, 1100px 1741px 1px #FFF, 689px 211px 1px #FFF, 758px 422px 1px #FFF, 957px 456px 1px #FFF, 1197px 1093px 1px #FFF, 299px 159px 1px #FFF, 848px 1861px 1px #FFF, 228px 89px 1px #FFF, 242px 1639px 1px #FFF, 722px 1635px 1px #FFF, 1664px 1560px 1px #FFF, 129px 1292px 1px #FFF, 1918px 1574px 1px #FFF, 1154px 321px 1px #FFF, 2000px 64px 1px #FFF, 1678px 1060px 1px #FFF, 903px 1709px 1px #FFF, 903px 344px 1px #FFF, 758px 978px 1px #FFF, 1509px 687px 1px #FFF, 584px 1393px 1px #FFF, 1825px 874px 1px #FFF, 233px 1163px 1px #FFF, 1044px 1907px 1px #FFF, 1256px 1443px 1px #FFF, 223px 1879px 1px #FFF, 213px 163px 1px #FFF, 1099px 857px 1px #FFF, 457px 1286px 1px #FFF, 1077px 1304px 1px #FFF, 1904px 1127px 1px #FFF, 1663px 1670px 1px #FFF, 1953px 381px 1px #FFF, 1364px 1195px 1px #FFF, 94px 1458px 1px #FFF, 248px 1962px 1px #FFF, 456px 1313px 1px #FFF;
  animation: parallax-stars 120s linear infinite; }

.hidden-display {
  display: none; }

.hidden {
  animation: hidden .3s linear;
  animation-fill-mode: forwards;
  z-index: -100; }

.overflow {
  overflow: hidden; }

.show {
  opacity: 1 !important; }

.clicker, .clicker:active, .clicker:focus, .clicker:focus:active {
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none; }

.scale {
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation: zoom-in 2s linear; }

.resource {
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-size: cover; }
  .resource__heading-primary {
    color: #fff;
    line-height: 8rem; }
  .resource__container {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; }
    @media screen and (max-width: 812px) and (orientation: landscape) {
      .resource__container {
        top: 80vh; } }
  .resource__folders {
    flex-grow: 1;
    color: #fff;
    transition: all .2s; }
    .resource__folders-caption {
      margin-top: 7rem;
      font-size: 2rem; }
    .resource__folders a:visited,
    .resource__folders a:link {
      z-index: 10000;
      text-decoration: none;
      color: inherit; }
    .resource__folders-open {
      display: none; }
    .resource__folders:hover a .resource__folders-closed {
      display: none; }
    .resource__folders:hover a .resource__folders-open {
      display: initial;
      transform: translateX(1rem); }
