*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* this is root declaration-allows REM to be used to allow responsive fonts
    browser have default 16px, so 10px is 62.5% of 16px */ }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/dark-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  /* iOS Safari */
  -webkit-user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  filter: brightness(120%); }

html,
body {
  position: relative;
  width: 100%;
  height: 100%; }

@keyframes parallax-stars {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

@keyframes rotate {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1); }
  50% {
    transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95); }
  100% {
    transform: rotateZ(360deg) scaleX(1) scaleY(1); } }

@keyframes rotate2 {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1); }
  50% {
    transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85); }
  100% {
    transform: rotateZ(-360deg) scaleX(1) scaleY(1); } }

@keyframes hidden {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes zoom-in {
  0% {
    transform: scale(1);
    opacity: 1; }
  60% {
    transform: scale(5);
    opacity: .1; }
  99% {
    opacity: 0;
    z-index: -99999; }
  100% {
    visibility: hidden;
    display: none; } }

@keyframes appear {
  from {
    opacity: 0;
    display: initial; }
  to {
    opacity: 1; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes slide-down {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slide-up {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes shade-up {
  0% {
    height: 0em;
    opacity: 0;
    border-top: 0.1px solid #777;
    background-color: transparent; }
  40% {
    opacity: 0; }
  100% {
    border-top: 3px solid #777;
    height: 3em;
    background-color: #eee;
    color: #000;
    z-index: 100;
    height: 3em;
    opacity: 1; } }

@keyframes slide-in {
  from {
    opacity: 0;
    left: 35rem; }
  to {
    opacity: 1;
    left: 4.5rem; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.heading-primary {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-size: 7.5rem;
  line-height: 8rem;
  margin-top: 9vh;
  padding: 5rem 2rem;
  font-weight: 200;
  color: #fff;
  border: 2px solid #999;
  border-radius: 5px;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 736px) {
    .heading-primary {
      padding: 2rem 2rem; } }
  @media screen and (max-width: 414px) {
    .heading-primary {
      font-size: 5rem; } }

.btn {
  font-family: 'Amatic SC', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  top: 150%;
  transform: translate(-50%, 100%);
  transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 3);
  transform-style: preserve-3d; }
  @media screen and (max-width: 668px) {
    .btn {
      top: 100%; } }
  .btn__timeline {
    color: #fff;
    display: block;
    width: 100%;
    font-size: 3rem;
    text-decoration: none;
    background-color: #455A64;
    border: none;
    line-height: 5rem;
    height: 5rem; }
  .btn::before, .btn::after {
    content: "";
    display: block;
    position: absolute;
    transform-origin: 50% 0 0;
    transform: rotateX(-90deg);
    width: 100%; }
  .btn::before {
    background-color: #607D8B;
    height: calc(5rem/3); }
  .btn::after {
    background-color: #303f46;
    height: calc(5rem/3); }
  .btn:hover {
    transform: rotateX(20deg) translate(-50%, 100%);
    transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 3); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__files {
    font-size: 5rem;
    text-align: center;
    display: inline-block;
    margin: 2rem 2rem;
    border: 2px solid rgba(0, 0, 0, 0.4);
    width: 20rem;
    height: 16rem;
    color: #999; }
    .popup__files-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 3px;
      max-width: 55rem;
      padding-left: 3rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.25);
      transition: all .5s .2s;
      z-index: 100; }
      @media screen and (max-width: 1042px) {
        .popup__files-content {
          padding-left: 0;
          width: 100%;
          text-align: center; } }
    .popup__files div {
      width: 100%;
      padding-top: 2rem; }
    .popup__files:hover {
      transition: all .5s;
      color: #1976D2;
      border: 2px solid rgba(25, 118, 210, 0.6); }
    .popup__files-caption {
      padding: 0 1rem;
      vertical-align: top;
      display: inline-block;
      font-size: 2.5rem;
      font-weight: 600;
      width: 100%;
      margin-top: 1.5rem;
      line-height: 2.5rem;
      margin-bottom: 1rem; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__files-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
    @media screen and (max-width: 812px) and (orientation: landscape) {
      .popup:target .popup__files-content {
        transform: translate(-50%, -50%) scale(0.6); } }
    @media screen and (max-width: 500px) {
      .popup:target .popup__files-content {
        transform: translate(-50%, -50%) scale(0.6); } }
    @media screen and (max-width: 450px) {
      .popup:target .popup__files-content {
        transform: translate(-50%, -50%) scale(0.5); } }
  .popup__close:link, .popup__close:visited {
    cursor: default;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    z-index: 10; }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0; }
  #particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3*6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*6rem)/4) + 2*6rem); }

.navigation-toggle {
  display: none;
  position: fixed;
  z-index: 5000;
  top: -2vh;
  right: 2rem;
  line-height: 5;
  text-align: center; }
  @media screen and (max-width: 667px) {
    .navigation-toggle {
      display: initial; } }
  .navigation-toggle__parent {
    background-color: #1565C0;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 50%;
    font-weight: 400;
    transition: background-color .3s; }
    .navigation-toggle__parent:hover, .navigation-toggle__parent:active {
      background-color: #0D47A1; }
  .navigation-toggle__parent:active ~ .navigation-toggle__list,
  .navigation-toggle__parent:focus ~ .navigation-toggle__list,
  .navigation-toggle__parent:focus-within ~ .navigation-toggle__list {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */ }
  .navigation-toggle__list {
    height: 0;
    visibility: hidden;
    list-style: none;
    /* hides sub-menu */
    opacity: 0;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-5.5em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s; }
  .navigation-toggle__item {
    height: 6rem;
    position: relative; }
    .navigation-toggle__item:focus {
      outline: none; }
  .navigation-toggle__link:link, .navigation-toggle__link:visited, .navigation-toggle__link:focus {
    width: 100%;
    text-decoration: none;
    outline: none;
    font-size: 2.5rem;
    font-weight: 400;
    max-height: 1rem;
    color: #fff; }
  .navigation-toggle__link i {
    outline: none;
    transition: background-color .3s;
    background-color: #F4511E;
    padding: 1rem 1rem;
    padding-right: 1.1rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%; }
  .navigation-toggle__link:hover i,
  .navigation-toggle__link:active i {
    transition: all .1s linear;
    background-color: #D84315; }

.navigation-top {
  position: fixed;
  color: #fff;
  z-index: 100000;
  font-size: 1.9rem;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #D84315;
  background-color: rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 950px) {
    .navigation-top {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-grow: 1;
      justify-content: space-around; } }
  @media screen and (max-width: 667px) {
    .navigation-top {
      display: none; } }
  .navigation-top__time {
    font-family: 'Faster One', cursive;
    opacity: .5;
    color: #FF7043;
    font-size: 2rem;
    font-weight: 100;
    position: absolute;
    display: inline-block;
    width: 30rem;
    left: 7rem;
    top: 50%;
    transform: translateY(-50%); }
    @media screen and (max-width: 950px) {
      .navigation-top__time {
        display: none; } }
  .navigation-top__link {
    transition: all .3s; }
    @media screen and (max-width: 950px) {
      .navigation-top__link {
        margin: 0 2rem; } }
    @media screen and (max-width: 667px) {
      .navigation-top__link {
        display: none; } }
    .navigation-top__link i {
      margin: 0 .9rem; }
    .navigation-top__link:visited, .navigation-top__link:link {
      margin: 2rem 0;
      font-weight: 400;
      float: right;
      color: inherit;
      text-align: right;
      text-decoration: none;
      text-transform: uppercase;
      padding-right: 3rem; }
    .navigation-top__link:hover {
      color: #1976D2; }

.close {
  animation: slide-down .2s ease-in;
  animation-fill-mode: forwards; }

.open {
  animation: slide-up .2s ease-out;
  animation-fill-mode: forwards; }

.header {
  font-family: 'Amatic SC', cursive;
  height: 100vh;
  min-height: 62rem;
  position: relative;
  background-attachment: fixed;
  background-size: cover; }
  @media screen and (max-width: 812px) and (orientation: landscape) {
    .header {
      min-height: 90rem; } }
  @media screen and (max-width: 700px) {
    .header {
      min-height: 80rem; } }

.intro {
  text-align: center;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 668px) {
    .intro {
      top: 45%; } }
  .intro__heading-primary {
    color: #fff;
    font-size: 8rem;
    margin: 5rem 0; }
  .intro__paragraph {
    display: inline-block;
    width: 55%;
    color: #FF7043;
    font-size: 3rem;
    line-height: 4rem; }
    @media screen and (max-width: 500px) {
      .intro__paragraph {
        width: 35vw; } }
    @media screen and (max-width: 420px) {
      .intro__paragraph {
        width: 40vw; } }

.me {
  display: none;
  transform: translateY(-10%); }
  .me__picture {
    z-index: 1000;
    width: 25rem;
    border-radius: 50%;
    border: 5px solid #607D8B;
    filter: brightness(0.6); }
  @media screen and (max-width: 668px) {
    .me {
      display: block;
      z-index: 1000; } }

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .35;
  z-index: -1;
  overflow: hidden; }
  .video__container {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  @media screen and (max-width: 668px) {
    .video {
      display: none; } }

.timeline {
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  padding-top: 50em;
  padding-bottom: 20rem;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%; }
  .timeline__intro {
    position: relative;
    cursor: default; }
  .timeline__start {
    position: absolute;
    margin: -12rem auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    text-align: center;
    font-size: 7rem;
    color: #455A64; }
    @media screen and (max-width: 600px) {
      .timeline__start {
        position: absolute;
        margin: -11rem auto;
        left: 2.9rem; } }
  .timeline div ul {
    padding: 50px 0; }
  @media screen and (max-width: 500px) {
    .timeline {
      padding-top: 45em; } }
  @media screen and (max-width: 700px) and (orientation: landscape) {
    .timeline {
      padding-top: 45em; } }
  @media screen and (max-width: 400) {
    .timeline {
      padding-top: 40em; } }

.list-element {
  list-style: none;
  position: relative;
  width: .8rem;
  margin: -16rem auto;
  padding-top: 17rem;
  background: #777;
  font-weight: 400;
  font-size: 1.4rem;
  border-radius: 3px;
  color: rgba(238, 238, 238, 0.7); }
  .list-element:first-child {
    padding-top: 2rem; }
  .list-element__title {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(84, 110, 122, 0.8); }
  .list-element__text {
    line-height: 2.3rem; }
  .list-element__link {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    border-radius: 0 0 .5rem .5rem;
    padding-top: 1em;
    color: transparent;
    text-decoration: none; }
    .list-element__link-cross {
      text-decoration: line-through; }
  .list-element:hover .list-element__link {
    color: #1976D2; }
  .list-element::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: .5px;
    transform: translateX(-50%);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    background: inherit; }
  .list-element::after {
    pointer-events: none; }
  .list-element div {
    position: relative;
    bottom: 0;
    width: 40rem;
    padding: 1.5rem;
    background: rgba(69, 90, 100, 0.7);
    border-radius: 5px;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.8); }
    .list-element div:hover .list-element__text {
      transition: all .4s .15s;
      filter: blur(3px); }
    .list-element div:hover .list-element__title {
      transition: all .4s .15s;
      filter: blur(3px); }
    .list-element div:hover .list-element__link {
      transition: all .4s;
      animation: shade-up .4s linear;
      animation-fill-mode: forwards; }
    .list-element div::before {
      content: "";
      position: absolute;
      bottom: .5rem;
      width: 0;
      height: 0;
      border-style: solid; }
    .list-element div:hover {
      transition: all .2s;
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); }
  .list-element:nth-child(odd) div {
    left: -43.9rem; }
    .list-element:nth-child(odd) div::before {
      right: -1.6rem;
      border-width: .8rem 0 .8rem 1.6rem;
      border-color: transparent transparent transparent rgba(69, 90, 100, 0.7); }
  .list-element:nth-child(even) div {
    left: 4.5rem; }
    .list-element:nth-child(even) div::before {
      left: -1.6rem;
      border-width: .8rem 1.6rem .8rem 0;
      border-color: transparent rgba(69, 90, 100, 0.7) transparent transparent; }

.list-element::after {
  transition: background .5s ease-in-out; }

.list-element.in-view::after {
  background: #455A64;
  z-index: 1; }

.list-element div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out; }

.list-element:nth-child(odd) div {
  transform: translateX(-20rem); }

.list-element:nth-child(even) div {
  transform: translateX(20rem); }

.list-element.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1; }

@media screen and (max-width: 1000px) {
  .list-element div {
    width: 35vw; }
  .list-element:nth-child(odd) div {
    left: -39vw; }
  .list-element:nth-child(even) div {
    left: 5vw; } }

@media screen and (max-width: 800px) {
  .list-element {
    font-size: 1.2rem; }
    .list-element__title {
      font-size: 1.5rem; } }

@media screen and (max-width: 750px) {
  .list-element:nth-child(odd) div {
    left: -40vw; }
  .list-element:nth-child(even) div {
    left: 6vw; } }

@media screen and (max-width: 600px) {
  .list-element {
    margin-left: 2.5rem; }
    .list-element div {
      width: calc(100vw - 9.5rem);
      transform: translateX(0) !important; }
    .list-element:nth-child(odd) div {
      animation: slide-in .5s ease-in-out;
      left: 4.5rem; }
      .list-element:nth-child(odd) div::before {
        left: -1.6rem;
        border-color: transparent rgba(69, 90, 100, 0.7) transparent transparent;
        border-width: .8rem 1.6rem .8rem 0; }
    .list-element:nth-child(even) div {
      left: 4.5rem; }
      .list-element:nth-child(even) div::before {
        left: -1.6rem; } }

.loading {
  font-family: 'Amatic SC', cursive;
  display: inline-block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100000000;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  filter: brightness(0.7); }
  .loading__animation, .loading__animation-icon {
    color: #f7f7f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 50rem;
    line-height: 50rem;
    text-align: center;
    font-size: 7rem;
    font-weight: 900; }
    .loading__animation p, .loading__animation-icon p {
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: normal;
      animation: typing 2s steps(22) infinite; }
    @media screen and (max-width: 800px) and (orientation: landscape) {
      .loading__animation, .loading__animation-icon {
        width: 28rem;
        height: 28rem;
        line-height: 28rem;
        font-size: 5rem; } }
    @media screen and (max-width: 500px) {
      .loading__animation, .loading__animation-icon {
        width: 35rem;
        height: 35rem;
        line-height: 35rem;
        font-size: 5rem; } }
    @media screen and (max-width: 480px) and (orientation: landscape) {
      .loading__animation, .loading__animation-icon {
        width: 25rem;
        height: 25rem;
        line-height: 25rem;
        font-size: 4rem; } }
    @media screen and (max-width: 320px) {
      .loading__animation, .loading__animation-icon {
        width: 25rem;
        height: 25rem;
        line-height: 25rem;
        font-size: 4rem; } }
    .loading__animation:after, .loading__animation:before, .loading__animation-icon:after, .loading__animation-icon:before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center center; }
    .loading__animation:after, .loading__animation-icon:after {
      box-shadow: inset 0 -17.5px 0 rgba(244, 81, 30, 0.6), inset -17.5px 0 0 rgba(216, 67, 21, 0.6);
      animation: rotate 2s -0.5s linear infinite; }
    .loading__animation:before, .loading__animation-icon:before {
      box-shadow: inset 0 -17.5px 0 rgba(13, 71, 161, 0.6), inset -17.5px 0 0 rgba(21, 101, 192, 0.6);
      animation: rotate2 2s -0.5s linear infinite; }
  .loading__animation-icon {
    left: 4rem;
    width: 3rem;
    height: 2px; }
    @media screen and (max-width: 950px) {
      .loading__animation-icon {
        display: none; } }

#stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1467px 1072px 1px #fff, 543px 692px 1px #FFF, 292px 497px 1px #FFF, 850px 896px 1px #FFF, 1355px 1415px 1px #FFF, 559px 161px 1px #FFF, 830px 1772px 1px #FFF, 1212px 482px 1px #FFF, 1676px 170px 1px #FFF, 80px 976px 1px #FFF, 1617px 857px 1px #FFF, 1401px 1327px 1px #FFF, 185px 295px 1px #FFF, 226px 1478px 1px #FFF, 1959px 266px 1px #FFF, 1328px 1530px 1px #FFF, 1045px 1500px 1px #FFF, 45px 1338px 1px #FFF, 78px 1953px 1px #FFF, 1240px 1852px 1px #FFF, 981px 1320px 1px #FFF, 1017px 903px 1px #FFF, 341px 319px 1px #FFF, 66px 306px 1px #FFF, 426px 1221px 1px #FFF, 1315px 722px 1px #FFF, 1310px 1542px 1px #FFF, 878px 808px 1px #FFF, 235px 203px 1px #FFF, 1820px 388px 1px #FFF, 929px 882px 1px #FFF, 1063px 833px 1px #FFF, 387px 569px 1px #FFF, 1966px 714px 1px #FFF, 659px 338px 1px #FFF, 1205px 1352px 1px #FFF, 1921px 717px 1px #FFF, 110px 425px 1px #FFF, 1336px 268px 1px #FFF, 1374px 566px 1px #FFF, 1431px 1470px 1px #FFF, 686px 851px 1px #FFF, 603px 68px 1px #FFF, 1587px 173px 1px #FFF, 672px 1412px 1px #FFF, 1932px 474px 1px #FFF, 126px 1224px 1px #FFF, 1785px 1339px 1px #FFF, 1923px 749px 1px #FFF, 346px 1168px 1px #FFF, 792px 1662px 1px #FFF, 149px 1101px 1px #FFF, 684px 462px 1px #FFF, 1861px 806px 1px #FFF, 1327px 1850px 1px #FFF, 1118px 1974px 1px #FFF, 964px 542px 1px #FFF, 1538px 31px 1px #FFF, 1721px 1790px 1px #FFF, 1319px 1757px 1px #FFF, 637px 924px 1px #FFF, 584px 78px 1px #FFF, 1960px 85px 1px #FFF, 676px 1792px 1px #FFF, 872px 728px 1px #FFF, 1766px 1731px 1px #FFF, 933px 188px 1px #FFF, 439px 847px 1px #FFF, 92px 173px 1px #FFF, 744px 90px 1px #FFF, 1857px 247px 1px #FFF, 1079px 791px 1px #FFF, 945px 502px 1px #FFF, 1355px 1222px 1px #FFF, 1144px 562px 1px #FFF, 1101px 1408px 1px #FFF, 1708px 427px 1px #FFF, 41px 98px 1px #FFF, 974px 19px 1px #FFF, 1569px 1862px 1px #FFF, 829px 323px 1px #FFF, 1433px 1028px 1px #FFF, 654px 1933px 1px #FFF, 709px 1608px 1px #FFF, 1931px 567px 1px #FFF, 1815px 216px 1px #FFF, 917px 154px 1px #FFF, 1364px 263px 1px #FFF, 1786px 37px 1px #FFF, 505px 1780px 1px #FFF, 602px 939px 1px #FFF, 440px 793px 1px #FFF, 800px 294px 1px #FFF, 237px 1924px 1px #FFF, 1421px 155px 1px #FFF, 1753px 948px 1px #FFF, 1435px 1056px 1px #FFF, 1566px 648px 1px #FFF, 206px 696px 1px #FFF, 1125px 391px 1px #FFF, 915px 675px 1px #FFF, 1090px 1963px 1px #FFF, 1016px 1210px 1px #FFF, 97px 1172px 1px #FFF, 585px 174px 1px #FFF, 1421px 1964px 1px #FFF, 39px 1398px 1px #FFF, 1099px 852px 1px #FFF, 1px 271px 1px #FFF, 1350px 1289px 1px #FFF, 1213px 1876px 1px #FFF, 1100px 756px 1px #FFF, 1902px 1225px 1px #FFF, 810px 1286px 1px #FFF, 905px 754px 1px #FFF, 880px 647px 1px #FFF, 845px 1789px 1px #FFF, 805px 708px 1px #FFF, 1618px 1271px 1px #FFF, 1375px 284px 1px #FFF, 766px 741px 1px #FFF, 1582px 326px 1px #FFF, 885px 246px 1px #FFF, 1926px 1714px 1px #FFF, 643px 1672px 1px #FFF, 405px 603px 1px #FFF, 1198px 1274px 1px #FFF, 253px 1625px 1px #FFF, 274px 1426px 1px #FFF, 1186px 1194px 1px #FFF, 1476px 1169px 1px #FFF, 320px 72px 1px #FFF, 1831px 754px 1px #FFF, 1212px 1194px 1px #FFF, 805px 963px 1px #FFF, 1796px 370px 1px #FFF, 620px 1825px 1px #FFF, 847px 1436px 1px #FFF, 136px 461px 1px #FFF, 1462px 187px 1px #FFF, 466px 1438px 1px #FFF, 941px 1654px 1px #FFF, 1224px 1460px 1px #FFF, 347px 1125px 1px #FFF, 1488px 1440px 1px #FFF, 1561px 1479px 1px #FFF, 636px 1979px 1px #FFF, 929px 831px 1px #FFF, 238px 1492px 1px #FFF, 1882px 1753px 1px #FFF, 1258px 239px 1px #FFF, 458px 1539px 1px #FFF, 1197px 1351px 1px #FFF, 496px 399px 1px #FFF, 110px 912px 1px #FFF, 1089px 87px 1px #FFF, 1342px 971px 1px #FFF, 1618px 1229px 1px #FFF, 644px 190px 1px #FFF, 1813px 1428px 1px #FFF, 111px 449px 1px #FFF, 1429px 218px 1px #FFF, 794px 740px 1px #FFF, 1249px 1898px 1px #FFF, 930px 751px 1px #FFF, 389px 327px 1px #FFF, 1989px 1715px 1px #FFF, 62px 1936px 1px #FFF, 1781px 1008px 1px #FFF, 1677px 1370px 1px #FFF, 1547px 1512px 1px #FFF, 543px 360px 1px #FFF, 575px 830px 1px #FFF, 542px 135px 1px #FFF, 630px 653px 1px #FFF, 678px 921px 1px #FFF, 605px 1209px 1px #FFF, 1897px 470px 1px #FFF, 532px 1443px 1px #FFF, 1386px 1817px 1px #FFF, 1328px 545px 1px #FFF, 1547px 1618px 1px #FFF, 732px 1484px 1px #FFF, 909px 327px 1px #FFF, 1906px 303px 1px #FFF, 1830px 294px 1px #FFF, 51px 556px 1px #FFF, 1168px 1734px 1px #FFF, 1169px 1496px 1px #FFF, 1189px 971px 1px #FFF, 1831px 313px 1px #FFF, 1797px 827px 1px #FFF, 85px 514px 1px #FFF, 1321px 265px 1px #FFF, 895px 421px 1px #FFF, 1035px 829px 1px #FFF, 1608px 1326px 1px #FFF, 1884px 1871px 1px #FFF, 969px 1054px 1px #FFF, 718px 803px 1px #FFF, 367px 587px 1px #FFF, 251px 1372px 1px #FFF, 438px 423px 1px #FFF, 970px 921px 1px #FFF, 1891px 1581px 1px #FFF, 1794px 1934px 1px #FFF, 1498px 1089px 1px #FFF, 852px 1665px 1px #FFF, 851px 1011px 1px #FFF, 751px 269px 1px #FFF, 933px 1125px 1px #FFF, 1401px 1877px 1px #FFF, 448px 566px 1px #FFF, 687px 1010px 1px #FFF, 902px 1944px 1px #FFF, 1633px 152px 1px #FFF, 481px 508px 1px #FFF, 663px 1094px 1px #FFF, 1636px 1218px 1px #FFF, 1905px 1245px 1px #FFF, 1075px 1337px 1px #FFF, 360px 2000px 1px #FFF, 1998px 1695px 1px #FFF, 769px 174px 1px #FFF, 1293px 1891px 1px #FFF, 1264px 99px 1px #FFF, 1586px 37px 1px #FFF, 848px 1444px 1px #FFF, 245px 910px 1px #FFF, 1104px 1653px 1px #FFF, 538px 70px 1px #FFF, 626px 110px 1px #FFF, 410px 1351px 1px #FFF, 1606px 980px 1px #FFF, 1714px 455px 1px #FFF, 983px 832px 1px #FFF, 103px 1936px 1px #FFF, 1024px 34px 1px #FFF, 598px 1985px 1px #FFF, 1632px 1325px 1px #FFF, 1366px 1614px 1px #FFF, 1165px 1168px 1px #FFF, 1717px 1050px 1px #FFF, 748px 1339px 1px #FFF, 111px 1860px 1px #FFF, 1956px 116px 1px #FFF, 1376px 1508px 1px #FFF, 1132px 681px 1px #FFF, 713px 1151px 1px #FFF, 944px 771px 1px #FFF, 13px 237px 1px #FFF, 1326px 1514px 1px #FFF, 1536px 1426px 1px #FFF, 305px 859px 1px #FFF, 1540px 1588px 1px #FFF, 385px 132px 1px #FFF, 1054px 1120px 1px #FFF, 796px 1792px 1px #FFF, 1472px 326px 1px #FFF, 33px 1488px 1px #FFF, 1126px 882px 1px #FFF, 184px 910px 1px #FFF, 897px 1599px 1px #FFF, 1939px 1182px 1px #FFF, 1525px 355px 1px #FFF, 616px 192px 1px #FFF, 1210px 572px 1px #FFF, 521px 376px 1px #FFF, 1830px 705px 1px #FFF, 1694px 300px 1px #FFF, 74px 986px 1px #FFF, 643px 1661px 1px #FFF, 87px 632px 1px #FFF, 474px 1917px 1px #FFF, 559px 769px 1px #FFF, 148px 394px 1px #FFF, 1114px 635px 1px #FFF, 219px 987px 1px #FFF, 95px 1990px 1px #FFF, 1302px 79px 1px #FFF, 80px 14px 1px #FFF, 1647px 1038px 1px #FFF, 215px 812px 1px #FFF, 794px 788px 1px #FFF, 1230px 1998px 1px #FFF, 581px 873px 1px #FFF, 1724px 280px 1px #FFF, 1833px 247px 1px #FFF, 1169px 618px 1px #FFF, 654px 1566px 1px #FFF, 1486px 1944px 1px #FFF, 1836px 133px 1px #FFF, 587px 1496px 1px #FFF, 67px 1429px 1px #FFF, 1807px 715px 1px #FFF, 1931px 1671px 1px #FFF, 1517px 814px 1px #FFF, 160px 1583px 1px #FFF, 230px 303px 1px #FFF, 1772px 1162px 1px #FFF, 1685px 1890px 1px #FFF, 708px 1322px 1px #FFF, 1351px 224px 1px #FFF, 1738px 887px 1px #FFF, 311px 167px 1px #FFF, 1322px 400px 1px #FFF, 1985px 824px 1px #FFF, 960px 1208px 1px #FFF, 1986px 892px 1px #FFF, 1317px 1705px 1px #FFF, 1601px 733px 1px #FFF, 1267px 1979px 1px #FFF, 97px 888px 1px #FFF, 1166px 1645px 1px #FFF, 926px 1806px 1px #FFF, 1282px 1509px 1px #FFF, 324px 1635px 1px #FFF, 755px 1044px 1px #FFF, 510px 843px 1px #FFF, 366px 909px 1px #FFF, 384px 1622px 1px #FFF, 782px 1094px 1px #FFF, 593px 930px 1px #FFF, 410px 96px 1px #FFF, 1727px 168px 1px #FFF, 1805px 976px 1px #FFF, 1412px 1449px 1px #FFF, 207px 152px 1px #FFF, 33px 1363px 1px #FFF, 969px 212px 1px #FFF, 1591px 1632px 1px #FFF, 1765px 1215px 1px #FFF, 969px 1738px 1px #FFF, 170px 1838px 1px #FFF, 115px 1494px 1px #FFF, 1269px 1762px 1px #FFF, 1435px 302px 1px #FFF, 1796px 1382px 1px #FFF, 1962px 1907px 1px #FFF, 1864px 730px 1px #FFF, 145px 94px 1px #FFF, 1830px 1099px 1px #FFF, 1412px 1425px 1px #FFF, 303px 1738px 1px #FFF, 1250px 1264px 1px #FFF, 1290px 1174px 1px #FFF, 1678px 1838px 1px #FFF, 1690px 790px 1px #FFF, 1626px 1380px 1px #FFF, 1418px 1807px 1px #FFF, 1968px 1093px 1px #FFF, 1181px 314px 1px #FFF, 492px 1309px 1px #FFF, 1940px 322px 1px #FFF, 1559px 748px 1px #FFF, 1085px 1454px 1px #FFF, 999px 1947px 1px #FFF, 148px 1083px 1px #FFF, 62px 399px 1px #FFF, 545px 1523px 1px #FFF, 218px 1339px 1px #FFF, 1409px 775px 1px #FFF, 1205px 417px 1px #FFF, 670px 1029px 1px #FFF, 112px 1837px 1px #FFF, 892px 1992px 1px #FFF, 842px 572px 1px #FFF, 490px 1805px 1px #FFF, 1986px 849px 1px #FFF, 440px 918px 1px #FFF, 924px 788px 1px #FFF, 1204px 884px 1px #FFF, 965px 1820px 1px #FFF, 1634px 1161px 1px #FFF, 1739px 1447px 1px #FFF, 1301px 1053px 1px #FFF, 1071px 328px 1px #FFF, 996px 1970px 1px #FFF, 1511px 176px 1px #FFF, 163px 941px 1px #FFF, 1745px 1827px 1px #FFF, 1862px 787px 1px #FFF, 231px 120px 1px #FFF, 225px 612px 1px #FFF, 154px 954px 1px #FFF, 664px 60px 1px #FFF, 376px 814px 1px #FFF, 706px 1392px 1px #FFF, 496px 862px 1px #FFF, 416px 1556px 1px #FFF, 960px 669px 1px #FFF, 377px 1352px 1px #FFF, 1108px 466px 1px #FFF, 726px 1902px 1px #FFF, 547px 253px 1px #FFF, 434px 475px 1px #FFF, 1940px 1926px 1px #FFF, 516px 1313px 1px #FFF, 264px 1691px 1px #FFF, 1410px 1873px 1px #FFF, 1120px 1333px 1px #FFF, 1369px 562px 1px #FFF, 496px 732px 1px #FFF, 1984px 1467px 1px #FFF, 499px 115px 1px #FFF, 798px 1955px 1px #FFF, 211px 1328px 1px #FFF, 568px 1019px 1px #FFF, 1124px 1293px 1px #FFF, 381px 632px 1px #FFF, 281px 229px 1px #FFF, 508px 1728px 1px #FFF, 886px 1878px 1px #FFF, 1580px 359px 1px #FFF, 777px 315px 1px #FFF, 1312px 1983px 1px #FFF, 169px 405px 1px #FFF, 207px 419px 1px #FFF, 555px 273px 1px #FFF, 1042px 327px 1px #FFF, 441px 1171px 1px #FFF, 766px 222px 1px #FFF, 1953px 1159px 1px #FFF, 1540px 1638px 1px #FFF, 1127px 332px 1px #FFF, 779px 1076px 1px #FFF, 1887px 461px 1px #FFF, 141px 469px 1px #FFF, 1234px 664px 1px #FFF, 790px 814px 1px #FFF, 1092px 320px 1px #FFF, 1183px 734px 1px #FFF, 1424px 689px 1px #FFF, 635px 719px 1px #FFF, 76px 751px 1px #FFF, 1161px 743px 1px #FFF, 1273px 141px 1px #FFF, 710px 1092px 1px #FFF, 329px 1766px 1px #FFF, 850px 1339px 1px #FFF, 1301px 1264px 1px #FFF, 829px 1040px 1px #FFF, 1904px 1214px 1px #FFF, 1211px 50px 1px #FFF, 1727px 2px 1px #FFF, 928px 1078px 1px #FFF, 952px 261px 1px #FFF, 623px 1476px 1px #FFF, 415px 787px 1px #FFF, 1897px 1105px 1px #FFF, 171px 1078px 1px #FFF, 333px 1687px 1px #FFF, 1495px 85px 1px #FFF, 576px 1953px 1px #FFF, 1029px 1338px 1px #FFF, 935px 1018px 1px #FFF, 800px 153px 1px #FFF, 1753px 146px 1px #FFF, 1802px 1957px 1px #FFF, 405px 963px 1px #FFF, 1282px 631px 1px #FFF, 101px 314px 1px #FFF, 779px 782px 1px #FFF, 1377px 372px 1px #FFF, 849px 322px 1px #FFF, 549px 1275px 1px #FFF, 1628px 912px 1px #FFF, 22px 1173px 1px #FFF, 1334px 331px 1px #FFF, 876px 2000px 1px #FFF, 850px 1655px 1px #FFF, 1916px 519px 1px #FFF, 542px 797px 1px #FFF, 174px 259px 1px #FFF, 786px 1930px 1px #FFF, 1542px 589px 1px #FFF, 1669px 615px 1px #FFF, 1754px 1863px 1px #FFF, 1971px 841px 1px #FFF, 1345px 1475px 1px #FFF, 870px 1681px 1px #FFF, 1368px 674px 1px #FFF, 1761px 1839px 1px #FFF, 729px 246px 1px #FFF, 588px 1827px 1px #FFF, 535px 1204px 1px #FFF, 447px 1092px 1px #FFF, 1114px 1123px 1px #FFF, 1771px 848px 1px #FFF, 1006px 1375px 1px #FFF, 1177px 1321px 1px #FFF, 688px 1864px 1px #FFF, 1703px 1713px 1px #FFF, 1290px 1081px 1px #FFF, 856px 658px 1px #FFF, 1279px 1199px 1px #FFF, 1287px 599px 1px #FFF, 1904px 389px 1px #FFF, 139px 1725px 1px #FFF, 778px 304px 1px #FFF, 276px 1783px 1px #FFF, 435px 994px 1px #FFF, 1392px 175px 1px #FFF, 209px 322px 1px #FFF, 999px 218px 1px #FFF, 1561px 1528px 1px #FFF, 24px 950px 1px #FFF, 1061px 361px 1px #FFF, 750px 1532px 1px #FFF, 1240px 1251px 1px #FFF, 363px 1017px 1px #FFF, 1504px 761px 1px #FFF, 80px 70px 1px #FFF, 1531px 391px 1px #FFF, 195px 1863px 1px #FFF, 1757px 461px 1px #FFF, 190px 762px 1px #FFF, 1325px 135px 1px #FFF, 1303px 434px 1px #FFF, 291px 1864px 1px #FFF, 27px 1419px 1px #FFF, 27px 1573px 1px #FFF, 1913px 712px 1px #FFF, 1812px 1535px 1px #FFF, 147px 1916px 1px #FFF, 560px 1402px 1px #FFF, 1469px 1537px 1px #FFF, 424px 1171px 1px #FFF, 909px 1273px 1px #FFF, 1157px 1728px 1px #FFF, 493px 411px 1px #FFF, 31px 175px 1px #FFF, 572px 1569px 1px #FFF, 1281px 353px 1px #FFF, 1568px 1984px 1px #FFF, 430px 1598px 1px #FFF, 436px 1719px 1px #FFF, 229px 1248px 1px #FFF, 381px 578px 1px #FFF, 1836px 1589px 1px #FFF, 1231px 1201px 1px #FFF, 1726px 1389px 1px #FFF, 457px 1559px 1px #FFF, 890px 317px 1px #FFF, 284px 1995px 1px #FFF, 431px 555px 1px #FFF, 689px 488px 1px #FFF, 45px 1680px 1px #FFF, 1940px 578px 1px #FFF, 312px 237px 1px #FFF, 1789px 433px 1px #FFF, 107px 1297px 1px #FFF, 217px 732px 1px #FFF, 769px 565px 1px #FFF, 777px 165px 1px #FFF, 1293px 1464px 1px #FFF, 771px 632px 1px #FFF, 1334px 1449px 1px #FFF, 115px 889px 1px #FFF, 1031px 1252px 1px #FFF, 1958px 1941px 1px #FFF, 297px 425px 1px #FFF, 1130px 1000px 1px #FFF, 671px 682px 1px #FFF, 1462px 844px 1px #FFF, 446px 248px 1px #FFF, 385px 990px 1px #FFF, 485px 1922px 1px #FFF, 441px 1697px 1px #FFF, 1222px 864px 1px #FFF, 1368px 1792px 1px #FFF, 1168px 420px 1px #FFF, 7px 571px 1px #FFF, 161px 350px 1px #FFF, 30px 979px 1px #FFF, 613px 792px 1px #FFF, 40px 506px 1px #FFF, 438px 1160px 1px #FFF, 1060px 149px 1px #FFF, 1316px 358px 1px #FFF, 985px 509px 1px #FFF, 799px 239px 1px #FFF, 586px 821px 1px #FFF, 642px 486px 1px #FFF, 1133px 552px 1px #FFF, 1688px 223px 1px #FFF, 773px 350px 1px #FFF, 80px 213px 1px #FFF, 601px 1099px 1px #FFF, 259px 285px 1px #FFF, 1778px 592px 1px #FFF, 1847px 517px 1px #FFF, 1134px 423px 1px #FFF, 1177px 599px 1px #FFF, 1850px 338px 1px #FFF, 1252px 1444px 1px #FFF, 1974px 1270px 1px #FFF, 1618px 1922px 1px #FFF, 869px 13px 1px #FFF, 915px 1865px 1px #FFF, 813px 568px 1px #FFF, 1746px 637px 1px #FFF, 1453px 271px 1px #FFF, 1539px 1056px 1px #FFF, 79px 1796px 1px #FFF, 1307px 234px 1px #FFF, 790px 900px 1px #FFF, 1202px 1291px 1px #FFF, 1523px 1415px 1px #FFF, 403px 1527px 1px #FFF, 1675px 281px 1px #FFF, 1682px 724px 1px #FFF, 618px 1938px 1px #FFF, 603px 859px 1px #FFF, 685px 600px 1px #FFF, 1597px 796px 1px #FFF, 1228px 778px 1px #FFF, 544px 69px 1px #FFF, 1133px 987px 1px #FFF, 1596px 557px 1px #FFF, 1428px 1386px 1px #FFF, 1083px 14px 1px #FFF, 1820px 982px 1px #FFF, 693px 1258px 1px #FFF, 954px 1192px 1px #FFF, 1857px 1542px 1px #FFF, 708px 33px 1px #FFF, 261px 415px 1px #FFF, 1659px 1576px 1px #FFF, 1175px 639px 1px #FFF, 517px 1046px 1px #FFF, 1782px 654px 1px #FFF, 579px 528px 1px #FFF, 978px 616px 1px #FFF, 1088px 544px 1px #FFF, 340px 76px 1px #FFF, 195px 756px 1px #FFF, 1975px 728px 1px #FFF, 1505px 1140px 1px #FFF, 1762px 1643px 1px #FFF, 335px 149px 1px #FFF, 921px 1103px 1px #FFF, 1474px 1366px 1px #FFF, 366px 1883px 1px #FFF, 1734px 1481px 1px #FFF, 174px 1996px 1px #FFF, 383px 943px 1px #FFF, 978px 1171px 1px #FFF, 1252px 900px 1px #FFF, 702px 1984px 1px #FFF, 5px 1277px 1px #FFF, 1296px 305px 1px #FFF, 1997px 1357px 1px #FFF, 1488px 1642px 1px #FFF, 659px 768px 1px #FFF, 135px 858px 1px #FFF, 1415px 200px 1px #FFF, 1173px 857px 1px #FFF, 743px 1126px 1px #FFF, 1542px 1674px 1px #FFF, 167px 46px 1px #FFF, 1772px 499px 1px #FFF, 158px 1851px 1px #FFF, 1870px 861px 1px #FFF, 1670px 1568px 1px #FFF, 1157px 1126px 1px #FFF, 370px 1402px 1px #FFF, 746px 957px 1px #FFF, 584px 1932px 1px #FFF, 729px 1405px 1px #FFF, 419px 147px 1px #FFF, 530px 313px 1px #FFF, 141px 71px 1px #FFF, 1132px 1426px 1px #FFF, 396px 60px 1px #FFF, 522px 53px 1px #FFF, 1624px 1243px 1px #FFF, 1755px 941px 1px #FFF, 145px 698px 1px #FFF, 1789px 1409px 1px #FFF, 820px 1598px 1px #FFF, 1505px 1276px 1px #FFF, 1633px 1817px 1px #FFF, 879px 49px 1px #FFF, 1350px 1731px 1px #FFF, 339px 1624px 1px #FFF, 1332px 1090px 1px #FFF, 1003px 43px 1px #FFF, 247px 425px 1px #FFF, 1172px 606px 1px #FFF, 1477px 561px 1px #FFF, 722px 371px 1px #FFF, 727px 1526px 1px #FFF, 161px 1402px 1px #FFF, 489px 1231px 1px #FFF, 1990px 89px 1px #FFF, 983px 1220px 1px #FFF, 149px 954px 1px #FFF, 1971px 1991px 1px #FFF, 1525px 1442px 1px #FFF, 1692px 664px 1px #FFF;
  animation: parallax-stars 50s linear infinite; }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 167px 1754px 1px #fff, 32px 771px 1px #FFF, 1676px 354px 1px #FFF, 315px 1222px 1px #FFF, 1323px 1558px 1px #FFF, 1174px 1759px 1px #FFF, 1226px 1705px 1px #FFF, 985px 1138px 1px #FFF, 40px 99px 1px #FFF, 1694px 1159px 1px #FFF, 1433px 1578px 1px #FFF, 1083px 153px 1px #FFF, 103px 628px 1px #FFF, 1063px 674px 1px #FFF, 1214px 306px 1px #FFF, 658px 1504px 1px #FFF, 1369px 1774px 1px #FFF, 1460px 1012px 1px #FFF, 1365px 248px 1px #FFF, 482px 1306px 1px #FFF, 541px 629px 1px #FFF, 1683px 1149px 1px #FFF, 1893px 782px 1px #FFF, 232px 9px 1px #FFF, 1133px 1643px 1px #FFF, 1612px 1686px 1px #FFF, 674px 1287px 1px #FFF, 1649px 1920px 1px #FFF, 349px 537px 1px #FFF, 395px 1999px 1px #FFF, 1325px 1926px 1px #FFF, 104px 662px 1px #FFF, 1926px 1741px 1px #FFF, 1461px 1252px 1px #FFF, 489px 1654px 1px #FFF, 341px 120px 1px #FFF, 1971px 1327px 1px #FFF, 11px 820px 1px #FFF, 595px 1074px 1px #FFF, 1172px 59px 1px #FFF, 644px 254px 1px #FFF, 645px 136px 1px #FFF, 6px 391px 1px #FFF, 724px 1158px 1px #FFF, 192px 504px 1px #FFF, 1445px 821px 1px #FFF, 1098px 540px 1px #FFF, 794px 255px 1px #FFF, 3px 82px 1px #FFF, 550px 1982px 1px #FFF, 112px 24px 1px #FFF, 1046px 1954px 1px #FFF, 1838px 353px 1px #FFF, 1259px 1146px 1px #FFF, 217px 888px 1px #FFF, 238px 1126px 1px #FFF, 1099px 306px 1px #FFF, 656px 1942px 1px #FFF, 346px 1457px 1px #FFF, 1216px 1272px 1px #FFF, 1653px 173px 1px #FFF, 1174px 609px 1px #FFF, 1241px 634px 1px #FFF, 1124px 698px 1px #FFF, 869px 652px 1px #FFF, 484px 1470px 1px #FFF, 792px 166px 1px #FFF, 1166px 776px 1px #FFF, 542px 1888px 1px #FFF, 208px 1737px 1px #FFF, 599px 1996px 1px #FFF, 651px 717px 1px #FFF, 42px 1968px 1px #FFF, 22px 1656px 1px #FFF, 966px 956px 1px #FFF, 517px 620px 1px #FFF, 151px 178px 1px #FFF, 853px 372px 1px #FFF, 849px 498px 1px #FFF, 877px 568px 1px #FFF, 1725px 1533px 1px #FFF, 859px 1474px 1px #FFF, 196px 1333px 1px #FFF, 17px 1844px 1px #FFF, 926px 866px 1px #FFF, 1195px 1777px 1px #FFF, 1492px 1385px 1px #FFF, 545px 104px 1px #FFF, 1371px 1369px 1px #FFF, 19px 1305px 1px #FFF, 1164px 884px 1px #FFF, 1818px 4px 1px #FFF, 1198px 479px 1px #FFF, 1191px 1973px 1px #FFF, 1158px 1195px 1px #FFF, 718px 1251px 1px #FFF, 1645px 1961px 1px #FFF, 893px 345px 1px #FFF, 903px 1518px 1px #FFF, 387px 177px 1px #FFF, 1940px 1761px 1px #FFF, 145px 841px 1px #FFF, 878px 1707px 1px #FFF, 1069px 31px 1px #FFF, 1083px 1335px 1px #FFF, 298px 246px 1px #FFF, 591px 1197px 1px #FFF, 704px 792px 1px #FFF, 720px 1529px 1px #FFF, 996px 115px 1px #FFF, 1615px 462px 1px #FFF, 86px 1781px 1px #FFF, 45px 1436px 1px #FFF, 646px 568px 1px #FFF, 1474px 603px 1px #FFF, 975px 1184px 1px #FFF, 235px 713px 1px #FFF, 1349px 93px 1px #FFF, 1535px 1467px 1px #FFF, 696px 831px 1px #FFF, 449px 1435px 1px #FFF, 835px 1209px 1px #FFF, 1595px 143px 1px #FFF, 1851px 1919px 1px #FFF, 908px 1233px 1px #FFF, 532px 1203px 1px #FFF, 1610px 1888px 1px #FFF, 1710px 488px 1px #FFF, 643px 612px 1px #FFF, 1907px 1457px 1px #FFF, 453px 890px 1px #FFF, 713px 1361px 1px #FFF, 251px 1561px 1px #FFF, 1229px 761px 1px #FFF, 1874px 1562px 1px #FFF, 383px 966px 1px #FFF, 716px 1915px 1px #FFF, 1294px 1562px 1px #FFF, 47px 436px 1px #FFF, 769px 1556px 1px #FFF, 1560px 1616px 1px #FFF, 218px 1968px 1px #FFF, 1017px 165px 1px #FFF, 1867px 195px 1px #FFF, 1129px 411px 1px #FFF, 1949px 1548px 1px #FFF, 1994px 1541px 1px #FFF, 1605px 36px 1px #FFF, 555px 1622px 1px #FFF, 1434px 1973px 1px #FFF, 598px 881px 1px #FFF, 1594px 219px 1px #FFF, 1689px 553px 1px #FFF, 1448px 1337px 1px #FFF, 1753px 1048px 1px #FFF, 64px 945px 1px #FFF, 752px 1515px 1px #FFF, 1131px 1336px 1px #FFF, 926px 1851px 1px #FFF, 81px 1065px 1px #FFF, 114px 469px 1px #FFF, 328px 1129px 1px #FFF, 1973px 768px 1px #FFF, 586px 473px 1px #FFF, 598px 1382px 1px #FFF, 1784px 257px 1px #FFF, 1016px 583px 1px #FFF, 1842px 1024px 1px #FFF, 852px 1044px 1px #FFF, 299px 292px 1px #FFF, 1334px 458px 1px #FFF, 890px 702px 1px #FFF, 1991px 536px 1px #FFF, 467px 1214px 1px #FFF, 740px 40px 1px #FFF, 508px 292px 1px #FFF, 1172px 1532px 1px #FFF, 589px 657px 1px #FFF, 71px 239px 1px #FFF, 648px 1670px 1px #FFF, 480px 1589px 1px #FFF, 1937px 228px 1px #FFF, 445px 845px 1px #FFF, 530px 133px 1px #FFF, 1621px 227px 1px #FFF, 883px 484px 1px #FFF, 71px 1645px 1px #FFF, 1071px 274px 1px #FFF, 89px 162px 1px #FFF, 385px 58px 1px #FFF, 1274px 1826px 1px #FFF, 93px 362px 1px #FFF, 133px 676px 1px #FFF, 1044px 1751px 1px #FFF, 1142px 1030px 1px #FFF, 107px 920px 1px #FFF, 1588px 971px 1px #FFF, 1500px 119px 1px #FFF, 66px 400px 1px #FFF, 1382px 720px 1px #FFF, 1886px 465px 1px #FFF;
  animation: parallax-stars 80s linear infinite; }

#stars3 {
  width: 3px;
  height: 4px;
  background: transparent;
  box-shadow: 1203px 1523px 1px #fff, 1230px 1064px 1px #FFF, 370px 655px 1px #FFF, 965px 471px 1px #FFF, 398px 274px 1px #FFF, 1379px 1775px 1px #FFF, 933px 1193px 1px #FFF, 1513px 1403px 1px #FFF, 485px 216px 1px #FFF, 1411px 774px 1px #FFF, 1390px 701px 1px #FFF, 148px 410px 1px #FFF, 986px 1557px 1px #FFF, 1378px 549px 1px #FFF, 519px 379px 1px #FFF, 1960px 1723px 1px #FFF, 1521px 286px 1px #FFF, 1616px 1843px 1px #FFF, 1522px 34px 1px #FFF, 225px 93px 1px #FFF, 949px 730px 1px #FFF, 1951px 1326px 1px #FFF, 162px 1170px 1px #FFF, 892px 754px 1px #FFF, 568px 669px 1px #FFF, 1084px 889px 1px #FFF, 76px 1790px 1px #FFF, 177px 1589px 1px #FFF, 977px 725px 1px #FFF, 976px 185px 1px #FFF, 1690px 904px 1px #FFF, 836px 1496px 1px #FFF, 687px 1732px 1px #FFF, 321px 414px 1px #FFF, 1722px 238px 1px #FFF, 650px 1168px 1px #FFF, 1159px 1875px 1px #FFF, 1660px 1423px 1px #FFF, 578px 159px 1px #FFF, 1531px 709px 1px #FFF, 610px 1359px 1px #FFF, 892px 1603px 1px #FFF, 1131px 1593px 1px #FFF, 1454px 1785px 1px #FFF, 1006px 836px 1px #FFF, 140px 1153px 1px #FFF, 401px 1043px 1px #FFF, 1104px 918px 1px #FFF, 1239px 1997px 1px #FFF, 325px 933px 1px #FFF, 1047px 1349px 1px #FFF, 1166px 1739px 1px #FFF, 1251px 411px 1px #FFF, 316px 593px 1px #FFF, 1936px 1461px 1px #FFF, 467px 1970px 1px #FFF, 97px 1470px 1px #FFF, 145px 759px 1px #FFF, 73px 287px 1px #FFF, 1754px 1651px 1px #FFF, 116px 1887px 1px #FFF, 754px 1715px 1px #FFF, 1982px 1531px 1px #FFF, 1808px 1563px 1px #FFF, 1562px 1755px 1px #FFF, 978px 371px 1px #FFF, 960px 218px 1px #FFF, 1000px 19px 1px #FFF, 278px 1268px 1px #FFF, 1074px 1161px 1px #FFF, 591px 793px 1px #FFF, 1792px 257px 1px #FFF, 1159px 353px 1px #FFF, 83px 348px 1px #FFF, 1640px 1068px 1px #FFF, 1817px 1252px 1px #FFF, 1108px 272px 1px #FFF, 91px 1187px 1px #FFF, 199px 778px 1px #FFF, 738px 1500px 1px #FFF, 202px 1405px 1px #FFF, 1005px 961px 1px #FFF, 332px 436px 1px #FFF, 1295px 1571px 1px #FFF, 1082px 301px 1px #FFF, 1351px 1621px 1px #FFF, 947px 9px 1px #FFF, 626px 365px 1px #FFF, 662px 707px 1px #FFF, 673px 394px 1px #FFF, 1720px 36px 1px #FFF, 300px 475px 1px #FFF, 740px 1168px 1px #FFF, 697px 699px 1px #FFF, 421px 859px 1px #FFF, 1500px 1460px 1px #FFF, 947px 1070px 1px #FFF, 810px 878px 1px #FFF, 543px 329px 1px #FFF, 1504px 689px 1px #FFF, 217px 538px 1px #FFF;
  animation: parallax-stars 120s linear infinite; }

.hidden-display {
  display: none; }

.hidden {
  animation: hidden .3s linear;
  animation-fill-mode: forwards;
  z-index: -100; }

.overflow {
  overflow: hidden; }

.show {
  opacity: 1 !important; }

.clicker, .clicker:active, .clicker:focus, .clicker:focus:active {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent !important; }

.scale {
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation: zoom-in 2s linear; }

.resource {
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-size: cover; }
  .resource__heading-primary {
    color: #fff;
    line-height: 8rem; }
  .resource__container {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; }
    @media screen and (max-width: 812px) and (orientation: landscape) {
      .resource__container {
        top: 80vh; } }
  .resource__folders {
    flex-grow: 1;
    color: #fff;
    transition: all .2s; }
    .resource__folders-caption {
      margin-top: 7rem;
      font-size: 2rem; }
    .resource__folders a:visited,
    .resource__folders a:link {
      z-index: 10000;
      text-decoration: none;
      color: inherit; }
    .resource__folders-open {
      display: none; }
    .resource__folders:hover a .resource__folders-closed {
      display: none; }
    .resource__folders:hover a .resource__folders-open {
      display: initial;
      transform: translateX(1rem); }
