*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* this universal selector with inherit will have all child elements
    (so all elements in this case since this is universal selector)
    to inherit the body's box sizing */ }

html {
  font-size: 62.5%;
  /* Note: declare font-size as percentage for user friendliness */
  /* this is root declaration-allows REM to be used to allow responsive fonts
    browser have default 16px, so 10px is 62.5% of 16px */ }

body {
  box-sizing: border-box;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(153, 153, 153, 0.9), rgba(0, 0, 0, 0.7)), url(../img/dark-bg.jpg);
  background-attachment: fixed;
  background-size: cover; }

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 10px #228DFF, 0 0 15px #228DFF; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #228DFF, 0 0 20px #228DFF; } }

@keyframes ring {
  0% {
    padding: 0 .5rem;
    color: rgba(247, 247, 247, 0.8); }
  50% {
    padding: 1rem 1.5rem;
    opacity: .7; }
  100% {
    padding: 2rem 2.7rem;
    opacity: .1; } }

@keyframes gradient {
  0% {
    background-position: 50% 20%; }
  50% {
    background-position: 50% 80%; }
  100% {
    background-position: 50% 20%; } }

@keyframes shade-up {
  0% {
    height: 0em;
    opacity: 0;
    border-top: 0.1px solid #777;
    background-color: transparent; }
  40% {
    opacity: 0; }
  100% {
    border-top: 3px solid #777;
    height: 3em;
    background-color: #eee;
    color: #000;
    z-index: 100;
    height: 3em;
    opacity: 1; } }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.heading-primary {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  font-size: 7.5rem;
  margin-top: 9vh;
  padding: 5rem 2rem;
  font-weight: 200;
  color: #fff;
  border: 2px solid #999;
  border-radius: 5px;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.intro {
  text-align: center;
  margin-left: -14.5vw;
  font-weight: 100;
  padding-top: 38vh; }
  .intro__heading-primary {
    font-weight: 500;
    color: #fff;
    font-size: 5.5rem;
    padding-bottom: 4vh; }
  .intro__paragraph {
    color: #eee;
    font-size: 1.5rem;
    line-height: 3rem;
    display: inline-block;
    width: 20vw; }

.timeline__intro {
  position: relative;
  cursor: default; }

.timeline__start {
  position: absolute;
  display: block;
  margin: -18.5rem auto;
  width: 100%;
  text-align: center;
  font-size: 7rem;
  color: #333;
  text-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3); }

.list-element {
  list-style: none;
  position: relative;
  width: .8rem;
  margin: -16rem auto;
  padding-top: 22rem;
  background: #999;
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 3px;
  color: #eee; }
  .list-element:first-child {
    padding-top: 2rem; }
  .list-element__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem; }
  .list-element__text {
    line-height: 2.5rem;
    font-weight: 500; }
  .list-element__caption {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    border-radius: 0 0 .5rem .5rem;
    padding-top: 1em;
    color: transparent;
    text-decoration: none; }
    .list-element__caption-cross {
      text-decoration: line-through; }

.resource {
  position: relative; }
  .resource__heading-primary {
    box-shadow: 0.5rem 1rem 2rem rgba(255, 255, 255, 0.4); }
  .resource__container {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 10rem; }
  .resource__folders {
    color: #fff;
    text-shadow: 0.5rem 1rem 2rem rgba(255, 255, 255, 0.4);
    transition: all .2s; }
    .resource__folders-caption {
      margin-top: 1rem;
      font-size: 2rem; }
    .resource__folders:hover {
      text-shadow: 0.5rem 1rem 2rem rgba(255, 255, 255, 0.7); }
    .resource__folders:active {
      text-shadow: 0.5rem 1rem 2rem rgba(255, 255, 255, 0.5); }

.intro__btn {
  margin-top: 2rem; }

.btn:visited, .btn:link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1vw;
  color: #fff;
  border: 2px solid #f7f7f7;
  padding: 1rem 1.2rem;
  border-radius: .5rem;
  transition: all .2s; }

.btn:hover {
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.8);
  transform: translateY(-4px); }

.btn:active {
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.34);
  transform: translateY(-2px); }

.btn:not(:last-child) {
  margin-right: 2vw; }

.scroll-down {
  position: relative;
  transition: all .7s; }
  .scroll-down:link, .scroll-down:visited {
    position: absolute;
    top: 90vh;
    left: 50%;
    text-decoration: none;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 6rem;
    color: #eee;
    animation: ring 1.5s linear infinite;
    border: 1px solid #f7f7f7;
    padding: .1rem .5rem;
    border-radius: 50%;
    opacity: 0; }
  .scroll-down:hover, .scroll-down:active {
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
    opacity: 1;
    border: none; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3*6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*6rem)/4) + 2*6rem); }

.navigation-toggle {
  position: fixed;
  z-index: 50;
  top: 7rem;
  right: 7rem;
  line-height: 5;
  text-align: center; }
  .navigation-toggle__parent {
    padding: 2rem 3rem; }
    .navigation-toggle__parent, .navigation-toggle__parent::before, .navigation-toggle__parent::after {
      display: inline-block;
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      border: 2px solid #fff;
      color: transparent;
      width: 3rem;
      height: 2px;
      transition: all .4s; }
    .navigation-toggle__parent:hover {
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.5); }
      .navigation-toggle__parent:hover::before {
        top: 1.6rem; }
      .navigation-toggle__parent:hover::after {
        top: 2.5rem; }
    .navigation-toggle__parent:active, .navigation-toggle__parent:focus {
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.2); }
      .navigation-toggle__parent:active::before, .navigation-toggle__parent:focus::before {
        transform: translate(-1.3rem, 0.8rem) rotate(-135deg) translateX(0.1rem);
        top: 1.4rem; }
      .navigation-toggle__parent:active::after, .navigation-toggle__parent:focus::after {
        transform: translate(-1.3rem, -0.8rem) rotate(135deg) translateX(0.1rem);
        top: 2.8rem; }
    .navigation-toggle__parent::before, .navigation-toggle__parent::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
    .navigation-toggle__parent::before {
      top: 1.4rem; }
    .navigation-toggle__parent::after {
      top: 2.8rem; }
  .navigation-toggle__parent:active ~ .navigation-toggle__list,
  .navigation-toggle__parent:focus ~ .navigation-toggle__list,
  .navigation-toggle__parent:focus-within ~ .navigation-toggle__list {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */ }
  .navigation-toggle__list {
    visibility: hidden;
    list-style: none;
    /* hides sub-menu */
    opacity: 0;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
  .navigation-toggle__link:link, .navigation-toggle__link:visited {
    transition: all .1s linear;
    text-decoration: none;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }
  .navigation-toggle__link:hover {
    transform: translateY(-5px);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.9);
    color: #999; }
  .navigation-toggle__link:active {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.navigation-top {
  position: absolute;
  color: #fff;
  z-index: 1;
  font-size: 1.9rem;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #777;
  background-color: rgba(51, 51, 51, 0.5); }
  .navigation-top a:first-child {
    text-align: left;
    margin-top: 2rem;
    float: left;
    margin-left: 1vw;
    margin-right: 10rem;
    text-transform: lowercase;
    font-size: 3rem; }
  .navigation-top__link {
    transition: all .3s; }
    .navigation-top__link i {
      margin: 0 .9rem; }
    .navigation-top__link:visited, .navigation-top__link:link {
      margin: 2rem 0;
      font-weight: 400;
      float: right;
      color: inherit;
      text-align: right;
      text-decoration: none;
      text-transform: uppercase;
      padding-right: 3rem; }
    .navigation-top__link:hover {
      color: #2f71e3; }

.header {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.97)), url(../img/header-bg.jpg);
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  animation: gradient 30s ease infinite;
  background-size: 200% 200%; }

.composition {
  position: relative; }
  .composition__photo {
    transform: translateY(6vh);
    position: absolute;
    width: 35%;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
    transition: all .3s;
    outline-offset: 1.75rem;
    border-radius: 4px;
    z-index: 10; }
    .composition__photo--me {
      top: 28vh;
      right: 9vw; }
    .composition__photo--canyon {
      top: 33vh;
      right: 0; }
    .composition__photo--badminton {
      top: 39vh;
      right: 7vw; }
    .composition__photo:hover {
      z-index: 20;
      outline: 1rem solid #999;
      transform: scale(1.1) translateY(3rem);
      box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.7); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95) translateY(5.5rem);
    filter: blur(2px); }

.timeline {
  padding-top: 50rem;
  padding-bottom: 20rem;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%; }
  .timeline div ul {
    padding: 50px 0; }

.list-element::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
  background: inherit; }

.list-element div {
  position: relative;
  bottom: 0;
  width: 40rem;
  padding: 1.5rem;
  background: #999;
  border-radius: 5px;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8); }
  .list-element div:hover .list-element__text {
    transition: all .4s .15s;
    filter: blur(2px); }
  .list-element div:hover .list-element__title {
    transition: all .4s .15s;
    filter: blur(2px); }
  .list-element div:hover .list-element__caption {
    transition: all .4s;
    animation: shade-up .4s linear;
    animation-fill-mode: forwards; }
  .list-element div::before {
    content: "";
    position: absolute;
    bottom: .7rem;
    width: 0;
    height: 0;
    border-style: solid; }
  .list-element div:hover {
    transition: all .2s;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.list-element:nth-child(odd) div {
  left: -43.9rem; }
  .list-element:nth-child(odd) div::before {
    right: -1.5rem;
    border-width: .8rem 0 .8rem 1.6rem;
    border-color: transparent transparent transparent #999; }

.list-element:nth-child(even) div {
  left: 4.5rem; }
  .list-element:nth-child(even) div::before {
    left: -1.5rem;
    border-width: .8rem 1.6rem .8rem 0;
    border-color: transparent #999 transparent transparent; }

.list-element::after {
  transition: background .5s ease-in-out; }

.list-element.in-view::after {
  background: #333;
  z-index: 1; }

.list-element div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out; }

.list-element:nth-child(odd) div {
  transform: translate3d(-20rem, 0, 0); }

.list-element:nth-child(even) div {
  transform: translate3d(20rem, 0, 0); }

.list-element.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1; }

@media screen and (max-width: 900px) {
  .list-element div {
    width: 25rem; }
  .list-element:nth-child(odd) div {
    left: 4.5rem; }
    .list-element:nth-child(odd) div::before {
      left: -1.5rem;
      border-width: .8rem 1.6rem .8rem 0;
      border-color: transparent #999 transparent transparent; } }

@media screen and (max-width: 600px) {
  .list-element {
    margin-left: 2rem; }
    .list-element div {
      width: calc(100vw - 9.1rem); }
    .list-element::nth-child(odd) div {
      left: 4.5rem; }
    .list-element:nth-child(odd) div::before {
      left: 4.6rem;
      border-width: .8rem 1.6rem .8rem 0;
      border-color: transparent transparent transparent #999; } }

.resource {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.97)), url(../img/header-bg.jpg);
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  animation: gradient 30s ease infinite;
  background-size: 200% 200%; }
  .resource__heading-primary {
    color: #fff; }
