.navigation-toggle {
    position: fixed;
    z-index: 5000;
    right: 2rem;
    line-height: 5;
    text-align: center;
    &__parent {
        background-color: $color-blue;
        color: $color-white;
        font-size: 2.5rem;
        padding: 1rem 1.5rem;
        border-radius: 50%;
        font-weight: 400;
        transition: background-color .3s;
        &:hover,
        &:active {
            background-color: $color-blue-dark;
        }
    }
    &__parent:active~&__list,
    &__parent:focus~&__list,
    &__parent:focus-within~&__list {
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
        transition-delay: 0s, 0s, 0.3s;
        /* this removes the transition delay so the menu will be visible while the other styles transition */
    }
    &__list {
        height: 0;
        visibility: hidden;
        list-style: none;
        /* hides sub-menu */
        opacity: 0;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-3em);
        z-index: -1;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    }
    &__link {
        transition: background-color .3s;
        &:link,
        &:visited {
            display: inline-block;
            width: 100%;
            transition: all .1s linear;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 400;
            max-height: 1rem;
            color: $color-white;
        }
        & i {
            background-color: $color-orange;
            padding: 1rem 1rem;
            border-radius: 50%;
        }
        &:hover i,
        &:active i {
            background-color: $color-orange-dark;
        }
    }
}

@media screen and (max-width: 600px) {
    .navigation-toggle__parent {
        display: none;
    }
}

;