.navigation-toggle {
    position: fixed;
    z-index: 50;
    top: 7rem;
    right: 7rem;
    line-height: 5;
    text-align: center;
    &__parent {
        padding: 2rem 3rem;
        &,
        &::before,
        &::after {
            display: inline-block;
            box-shadow: .5rem .5rem .5rem rgba($color-white, .2);
            border-radius: 5px;
            border: 2px solid $color-white;
            color: transparent;
            width: 3rem;
            height: 2px;
            transition: all .4s;
        }
    
        &:hover {
            box-shadow: .5rem .5rem .5rem rgba($color-white, .5);
            &::before {
                top: 1.6rem;
            }

            &::after {
                top: 2.5rem;
            }
        }

        &:active,
        &:focus {
            &::before {
                transform: translate(-1.3rem, .8rem) rotate(-135deg) translateX(.1rem);
                top: 1.4rem;
            }

            &::after {
                transform: translate(-1.3rem, -.8rem) rotate(135deg) translateX(.1rem);
                top: 2.8rem;
            }
            box-shadow: .5rem .5rem .5rem rgba($color-white, .2);                        
        }
        
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &::before {
            top: 1.4rem;
        }

        &::after{
            top: 2.8rem;
        }
    }
    &__parent:active~&__list,
    &__parent:focus~&__list,
    &__parent:focus-within~&__list {
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        z-index: 1000;
        transform: translateY(0%); //removes the flashes
        transition-delay: 0s, 0s, 0.3s;
        /* this removes the transition delay so the menu will be visible while the other styles transition */
    }
    &__list {
        visibility: hidden;
        list-style: none;
        /* hides sub-menu */
        opacity: 0;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-2em);
        z-index: -1;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    }
    &__link {
        &:link,
        &:visited {
            transition: all .1s linear;
            text-decoration: none;
            background-color: transparent;
            font-size: 2rem;
            font-weight: 700;
            color: $color-white;
            text-shadow: .5rem 1rem 2rem rgba($color-black, .4);
        }
        &:hover {
            transform: translateY(-5px);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .9);
            color: $color-grey-dark-2;
        }

        &:active {
            text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
        }
    }
}