.navigation-top {
    position: absolute;
    color: $color-white;
    z-index: 1;
    font-size: 1.9rem;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $color-grey-dark;
    background-color: rgba($color-black, .5);
    a {
        &:first-child {
            &::before,
            &::after{ 
                content: " ıllıllı ";
                font-size: 1.7rem;
                letter-spacing: 2px;                
            }
            text-align: left;
            margin-top: 2rem;
            float: left;
            padding-left: 1rem;
            margin-right: 8rem;
            text-transform: lowercase;
            font-size: 3rem;
        }
    }
    &__link {
        transition: all .3s;
        & i {
            margin: 0 .9rem;
        }
        &:visited,
        &:link {
            margin: 2rem 0;
            font-weight: 400;
            float: right;
            color: inherit;
            text-align: right;
            text-decoration: none;
            text-transform: uppercase;
            padding-right: 3rem;
        }
        &:hover {
            // background-color: rgba($color-grey-light-1, .5);
            color: $color-blue-light;
        }
    }
}

// Media queries
@media screen and (max-width: 900px) {
    .navigation-top {
        display: inline-block;
        width: 100%;
        text-align: center;
        &__link:link,
        &__link:visited {
            float: none;
            display: inline-block;
        }
        &__name {
            display: inline-block;
            width: 100%;
            text-align: center !important;
        }
    }
}