*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* this is root declaration-allows REM to be used to allow responsive fonts
    browser have default 16px, so 10px is 62.5% of 16px */
    @include media(1200px) {
        font-size: 56.25%;
    }
    @include media(900px) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    background: linear-gradient(45deg, rgba($color-black, .4), rgba($color-black, .6), rgba($color-black, .6)), url(../img/dark-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    /* iOS Safari */
    -webkit-user-select: none;
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    filter: brightness(120%);
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}