// Allows the floated element to stay within container
@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin media($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin media-o($width, $orientation: landscape) {
    @media screen and (max-width: $width) and (orientation: $orientation) {
        @content;
    }
}

// type writer animation
@mixin type($steps, $cursor-size: '.15em', $type-speed: '2s', $cursor-blink-speed: '.5s') {
    overflow: hidden; // hides content outside of box
    white-space: nowrap; // ensures everything is 1 line
    margin: 0 auto; // center text;
    letter-spacing: normal;
    animation: typing $type-speed steps($steps) infinite;
}

// spinning rocks in main page
@function boxshadow($number) {
    $var: "#{random(3000)-1500}px #{random(3000)-1500}px 1px #fff";
    @for $index from 1 through $number {
      $var: "#{$var}, #{random(3000)-1500}px #{random(3000)-1500}px 1px #fff";
    }
    @return unquote($var);
}

@mixin center($w: 0px, $h: 0px) {
    position: absolute;
    top: calc(50% - #{$w}/2);
    left: calc(50% - #{$h}/2);
  }