// COLORS

$color-blue: #1565C0;
$color-blue-dark: #0D47A1;
$color-blue-light: #1976D2;

$color-orange: #F4511E;
$color-orange-light: #FF7043;
$color-orange-dark: #D84315;

$color-blue-grey-light: #607D8B;
$color-blue-grey: #546e7a;
$color-blue-grey-dark: #455A64;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-white: #fff;
$color-black: #000;

$color-space-blue: #1B2735;
$color-space-black: #090A0F;


// FONT SIZES
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
// blank spaces for grid
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// parallax stars
$small-stars: stars-boxshadow(700);
$medium-stars: stars-boxshadow(200); 
$large-stars: stars-boxshadow(100); 