.btn {
    font-family: 'Amatic SC', cursive;
    @include absCenter;
    width: 20rem;
    top: 150%;
    transform: translate(-50%, 100%);
    transition: all 250ms cubic-bezier(0.175, 0.885, 0.320, 3);
    transform-style: preserve-3d;
    @include media(668px) {
        top: 100%;
    }
    &__timeline {
        color: $color-white;
        display: block;
        width: 100%;
        font-size: 3rem;
        text-decoration: none;
        background-color: $color-blue-grey-dark;
        border: none;
        line-height: 5rem;
        height: 5rem;
    }
    // pseudo elements for 3d effects
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        transform-origin: 50% 0 0;
        transform: rotateX(-90deg);
        width: 100%;
    }
    &::before {
        background-color: $color-blue-grey-light;
        height: calc(5rem/3);
    }
    &::after {
        background-color: darken($color-blue-grey-dark, 10%);
        height: calc(5rem/3);
    }
    &:hover {
        transform: rotateX(20deg) translate(-50%, 100%);
        transition: all 250ms cubic-bezier(0.175, 0.885, 0.320, 3);
    }
}