.intro__btn{
    &::visited,
    &::link {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.5rem;
    }
}

.scroll-down {
    position: relative;
    transition: all .7s;
    &:link,
    &:visited {
        position: absolute;
        top: 80vh;
        left: 50%;
        text-decoration: none;
        transform: translate(-50%, -50%);
        z-index: 100;
        font-size: 6rem;
        color: $color-grey-light-2;
        animation: ring 1.5s linear infinite;
        border: 1px solid $color-grey-light-1; 
        padding: .1rem .5rem;     
        border-radius: 50%;  
        opacity: 0;
    }
    &:hover,
    &:active {
        -webkit-animation: glow 1.5s ease-in-out infinite alternate;
        -moz-animation: glow 1.5s ease-in-out infinite alternate;
        animation: glow 1.5s ease-in-out infinite alternate;
        opacity: 1;
        border: none;
    }
}