// ---------------intro animation
@keyframes rotate {
    0% {
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
    }
    100% {
        transform: rotateZ(360deg) scaleX(1) scaleY(1);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
    50% {
        transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
    }
    100% {
        transform: rotateZ(-360deg) scaleX(1) scaleY(1);
    }
}

@keyframes hidden {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoom-in {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(5);
        opacity: .1;
    }
    99%{
        opacity: 0;
        z-index: -99999;
    }
    100% {
        visibility: hidden;
        display: none;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        display: initial;
    }
    to {
        opacity: 1;
    }
}

// ---------------typing animation
@keyframes typing {
    from{
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes cursor-blink {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: $color-orange-dark;
    }
}


// ---------------nav bar slide down
@keyframes slide-down {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

// --------------nav bar slide up
@keyframes slide-up {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

// ---------------for background gradient
@keyframes gradient {
    0% {
        background-position: 50% 20%
    }
    50% {
        background-position: 50% 80%
    }
    100% {
        background-position: 50% 20%
    }
}

// ---------------for timeline 
@keyframes shade-up {
    0% {
        height: 0em;
        opacity: 0;
        border-top: .1px solid $color-grey-dark;
        background-color: transparent;
    }
    40% {
        opacity: 0;
    }
    100% {
        border-top: 3px solid $color-grey-dark;
        height: 3em;
        background-color: $color-grey-light-2;
        color: $color-black;
        z-index: 100;
        height: 3em;
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        left: 35rem;
    }
    to {
        opacity: 1;
        left: 4.5rem;
    }
}

// ---------------not used for now
@keyframes side-scroll {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 100% 50%;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 10px #228DFF, 0 0 15px #228DFF,
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 10px #228DFF, 0 0 20px #228DFF,
    }
}

@keyframes ring {
    0% {
        padding: 0 .5rem;
        color: transparentize($color-grey-light-1, $amount: .2);
    }
    50% {
        padding: 1rem 1.5rem;
        opacity: .7;
    }
    100% {
        padding: 2rem 2.7rem;
        opacity: .1;
    }
}