body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.6rem; // padding: 3rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.heading-primary {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 7.5rem;
    margin-top: 9vh;
    padding: 5rem 2rem;
    font-weight: 200;
    color: $color-white;
    border: 2px solid $color-grey-dark-2;
    border-radius: 5px;
    box-shadow: .5rem 1rem 2rem rgba($color-black, .5);
}

.intro {
    text-align: center;
    margin-left: -14.5vw;
    font-weight: 100;
    padding-top: 38vh;
    &__heading-primary {
        font-weight: 500;
        color: $color-white;
        font-size: 5.5rem;
        padding-bottom: 4vh;
    }
    &__paragraph {
        color: $color-grey-light-2;
        font-size: 1.5rem;
        line-height: 3rem;
        display: inline-block;
        width: 20vw;
    }
}

.timeline {
    &__intro {
        position: relative;
        cursor: default;
    } // Arrow under the 'timeline' title, maybe use for later
    // &::after {
    //     position: absolute;
    //     top: 100%;
    //     left: 50%;
    //     transform: translate(-50%, 50%) rotate(90deg);
    //     color: $color-grey-dark-2;
    //     display: block;
    //     content: ">";
    //     text-shadow: .5rem -1rem 2rem rgba($color-black, .7);
    // }
    &__start {
        position: absolute;
        display: block;
        margin: -18.5rem auto;
        width: 100%;
        text-align: center;
        font-size: 7rem;
        color: $color-grey-dark-3;
        text-shadow: .5rem .5rem 1.5rem rgba($color-black, .3);
    }
}

.list-element {
    list-style: none;
    position: relative;
    width: .8rem;
    margin: -16rem auto;
    padding-top: 22rem;
    background: $color-grey-dark-2;
    font-weight: 400;
    font-size: 1.6rem;
    border-radius: 3px;
    color: $color-grey-light-2;
    &:first-child {
        padding-top: 2rem;
    }
    &__title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 3rem;
    }
    &__text {
        line-height: 2.5rem;
        font-weight: 500;
    }
    &__caption {
        position: absolute;
        display: inline-block;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
        border-radius: 0 0 .5rem .5rem;
        padding-top: 1em;
        color: transparent;
        text-decoration: none;
        &-cross {
            text-decoration: line-through;
        } 
    }

    &:hover &__caption {
        color: $color-blue-light;
    }
}

.resource {
    &__heading-primary {
        color: $color-white;
    }
    
    // folder styling(the folders are treated as text, so typography section)
    position: relative;
    &__heading-primary {
        box-shadow: .5rem 1rem 2rem rgba($color-white, .4);
    }
    &__container {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 9rem;
    }
    &__folders {
        color: $color-white;
        transition: all .2s;
        position: relative;
        & a:visited,
        & a:link {
            text-shadow: .5rem 1rem 2rem rgba($color-white, .4);
            text-decoration: none;
            color: inherit;
        }
        &-open {
            display: none;
        }
        &-caption {
            font-size: 2rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
        }
        &:hover a {
            text-shadow: .5rem 1rem 2rem rgba($color-white, .7);
            & .resource__folders-closed {
                display: none;
            }
            & .resource__folders-open {
                display: initial;
                transform: translateX(1rem);
            }
        }
    }
}

.popup {
    &__files {
        font-size: 5rem;
        text-align: center;
        display: inline-block;
        margin: 2rem 2rem;
        border: 2px solid rgba($color-black, .2);
        text-decoration: none;
        width: 20rem;
        height: 16rem;
        color: $color-grey-dark-2;

        & div {
            width: 100%;
            padding-top: 2rem;
        }

        &:hover {
            transition: all .5s;
            color: $color-blue-light;
            border: 2px solid rgba($color-blue-light, .6);
        }
        &-caption {
            padding: 0 1rem;
            vertical-align: top;
            display: inline-block;
            font-size: 2.5rem;
            font-weight: 600;
            width: 100%;
            margin-top: 1.5rem;  
            line-height: 2.5rem;
            margin-bottom: 1rem;    
        }
    }
}