body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.heading-primary {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 7.5rem;
    line-height: 8rem;
    margin-top: 9vh;
    padding: 5rem 2rem;
    font-weight: 200;
    color: $color-white;
    border: 2px solid $color-grey-dark-2;
    border-radius: 5px;
    box-shadow: .2rem .5rem .5rem rgba($color-black, .5);
    @include media(736px) {
        padding: 2rem 2rem;
    }
    @include media(414px) {
        font-size: 5rem;
    }
}