body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.6rem; // padding: 3rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.intro {
    text-align: center;
    margin-left: -14.5vw;
    font-weight: 100;
    padding-top: 38vh;
    &__heading-primary {
        font-weight: 500;
        color: $color-white;
        font-size: 5.5rem;
        padding-bottom: 4vh;
    }
    &__paragraph {
        color: $color-grey-light-2;
        font-size: 1.5rem;
        line-height: 3rem;
        display: inline-block;
        width: 20vw;
    }
}

.timeline {
    &__intro {
        position: relative;
        cursor: default;
    }
    &__heading-primary {
        position: absolute;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        font-size: 7.5rem;
        margin-top: 9vh;
        padding: 5rem 2rem;
        font-weight: 200;
        color: $color-white;
        border: 2px solid $color-grey-dark-2;
        border-radius: 5px;
        box-shadow: .5rem 1rem 2rem rgba($color-black, .5); 
        // Arrow under the 'timeline' title, maybe use for later
        // &::after {
        //     position: absolute;
        //     top: 100%;
        //     left: 50%;
        //     transform: translate(-50%, 50%) rotate(90deg);
        //     color: $color-grey-dark-2;
        //     display: block;
        //     content: ">";
        //     text-shadow: .5rem -1rem 2rem rgba($color-black, .7);
        // }
    }
}