.header {
    // background: linear-gradient(45deg, rgba($color-black, .6), rgba($color-black, .8), rgba($color-black, .9)), url(../img/material-wb.png);    
    height: 100vh;
    min-height: 880px;
    position: relative;
    background-attachment: fixed;
    animation: gradient 30s ease infinite;
    background-size: cover;
}

.composition {
    position: relative;
    &__photo {
        transform: translateY(6vh);
        position: absolute;
        width: 35%;
        box-shadow: .5rem 1rem 2rem rgba($color-black, .3);
        transition: all .3s;
        outline-offset: 1.75rem;
        border-radius: 4px;
        z-index: 10;
        &--me {
            top: 26rem;
            right: 9vw;
        }
        &--canyon {
            top: 30.5rem;
            right: 0;
        }
        &--badminton {
            top: 36rem;
            right: 7vw;
        }
        &:hover {
            z-index: 20;
            outline: 1rem solid $color-grey-dark-2;
            transform: scale(1.1) translateY(3rem);
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(.95) translateY(5.5rem);
        filter: blur(2px);
    }
}

@media screen and (max-width: 1300px) {
    .composition {
        &__photo {
            margin-right: 8rem;
            transform: translateY(8rem);
            &--me {
                top: 25rem;
                right: 11vw;
            }
            &--canyon {
                top: 30rem;
                right: 0;
            }
            &--badminton {
                top: 35rem;
                right: 7vw;
            }
            &:hover {
                z-index: 20;
                outline: 1rem solid $color-grey-dark-2;
                transform: scale(1.15) translateY(8rem);
                box-shadow: .5rem 1rem 2rem rgba($color-black, .7);
            }
        }
        &:hover &__photo:not(:hover) {
            transform: scale(.9) translateY(8.5rem);
            filter: blur(2px);
        }
    }
}

@media screen and (max-width: 1000px) {
    .composition {
        &__photo {
            margin-right: 8rem;
            transform: translateY(10rem);
            &:hover {
                z-index: 20;
                outline: 1rem solid $color-grey-dark-2;
                transform: scale(1.15) translateY(11rem);
                box-shadow: .5rem 1rem 2rem rgba($color-black, .7);
            }
        }
        &:hover &__photo:not(:hover) {
            transform: scale(.9) translateY(13rem);
            filter: blur(2px);
        }
    }
}

@media screen and (max-width: 800px) {
    .composition {
        position: absolute;
        display: inline-block;
        top: 15rem;
        left: 0;
        width: 100%;
        height: auto;
        &__photo {
            margin: 0;
            width: 25%;
            &--me {
                top: 8rem;
                left: 50%;
                transform: translateX(-50%);
                border: 2px solid $color-grey-light-1;
                border-radius: 50%;
            }
            &--canyon {
                display: none;
            }
            &--badminton {
                display: none;
            }
            &:hover {
                outline: none;
                transform: none;
                box-shadow: .5rem 1rem 2rem rgba($color-black, .7);
                transform: translateX(-50%);
            }
        }
        &:hover &__photo:not(:hover) {
            transform: none;
            filter: blur(0);
        }
    }
}

@media screen and (max-width: 799px) {
    .composition {
        &__photo {
            &--me {
                top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 667px) {
    .composition {
        top: 30vh;
    }
}

@media screen and (max-width: 612px) {
    .composition {
        top: 21vh;
    }
}

@media screen and (max-width: 600px) {
    .intro {
        padding-top: 30rem;
    }
    .composition {
        &__photo {
            &--me {
                top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 595px) {
    .composition {
        &__photo {
            width: 30vw;
        }
    }
}

@media screen and (max-width: 425px) {
    .composition {
        &__photo {
            width: 35%;
            &--me {
                top: 6rem;
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .composition {
        top: 6vh;
    }

    .intro {
        padding-top: 30rem;
    }
}

@media screen and (max-width: 400px) {
    .composition {
        &__photo {
            width: 45%;
        }
    }
}

@media screen and (max-width: 384px) {
    .composition {
        top: 5vh;
    }
}


@media screen and (max-width: 375px) {
    .composition {
        top: 6vh;
        &__photo {
            &--me{
                width: 35%;
            }
        }
    }
}