.header {
    background: linear-gradient(45deg, rgba($color-black, .98), rgba($color-black, .94), rgba($color-black, .97)), url(../img/header-bg.jpg);
    height: 100vh; // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    background-attachment: fixed;
    animation: gradient 30s ease infinite;
    background-size: 200% 200%;
}

.composition {
    position: relative;
    &__photo {
        transform: translateY(6vh);
        position: absolute;
        width: 35%;
        box-shadow: .5rem 1rem 2rem rgba($color-black, .3);
        transition: all .3s;
        outline-offset: 1.75rem;
        border-radius: 4px;
        z-index: 10;
        &--me {
            top: 28vh;
            right: 9vw;
        }

        &--canyon {
            top: 33vh;
            right: 0;
        }

        &--badminton {
            top: 39vh;
            right: 7vw;
        }

        &:hover {
            z-index: 20;
            outline: 1rem solid $color-grey-dark-2;
            transform: scale(1.1) translateY(3rem);
            box-shadow: .5rem 1rem 2rem rgba($color-black, .7);            
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.95) translateY(5.5rem);
        filter: blur(2px); 
    }
}

@media screen and (max-width: 1200px){
    .composition {
        &__photo {
            margin-right: 8rem;
            transform: translateY(8rem);

            &--me {
                top: 28vh;
                right: 11vw;
            }
    
            &--canyon {
                top: 33vh;
                right: 0;
            }
    
            &--badminton {
                top: 39vh;
                right: 7vw;
            }

            &:hover {
                z-index: 20;
                outline: 1rem solid $color-grey-dark-2;
                transform: scale(1.15) translateY(8rem);
                box-shadow: .5rem 1rem 2rem rgba($color-black, .7);            
            }
        }
        &:hover &__photo:not(:hover){
            transform: scale(.9) translateY(8.5rem);
            filter: blur(2px); 
        }
    }
}

@media screen and (max-width: 1000px){
    .composition {
        &__photo {
            margin-right: 8rem;
            transform: translateY(13rem);

            &--me {
                top: 28vh;
                right: 11vw;
            }
    
            &--canyon {
                top: 33vh;
                right: 0;
            }
    
            &--badminton {
                top: 39vh;
                right: 7vw;
            }

            &:hover {
                z-index: 20;
                outline: 1rem solid $color-grey-dark-2;
                transform: scale(1.15) translateY(11rem);
                box-shadow: .5rem 1rem 2rem rgba($color-black, .7);            
            }
        }
        &:hover &__photo:not(:hover){
            transform: scale(.9) translateY(13rem);
            filter: blur(2px); 
        }
    }
}

@media screen and (max-width: 800px){
    .composition {
        &__photo {
            margin-right: 8rem;
            transform: translateY(20rem);
            width: 50%;            
            &--me {
                top: 20vh;
                right: 0;
            }
    
            &--canyon {
                top: 30vh;
                right: 0;
            }
    
            &--badminton {
                top: 40vh;
                right: 0;
            }

            &:hover {
                z-index: 20;
                outline: 1rem solid $color-grey-dark-2;
                transform: scale(1.1) translateY(19rem);
                box-shadow: .5rem 1rem 2rem rgba($color-black, .7);            
            }
        }
        &:hover &__photo:not(:hover){
            transform: scale(.9) translateY(22rem);
            filter: blur(2px); 
        }
    }
}