.header {
    font-family: 'Amatic SC', cursive;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .35;
    z-index: -1;
    overflow: hidden;
    &__container{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.intro {
    text-align: center;
    font-weight: 700;
    @include absCenter;    
    &__heading-primary {
        color: $color-white;
        font-size: 8rem;
        margin-bottom: 5rem;
    }
    &__paragraph {
        display: inline-block;
        width: 60%;
        color: $color-orange-light;
        font-size: 3rem;
        line-height: 3rem;
    }
}
