.resource {
    // background: linear-gradient(45deg, rgba($color-black, .6), rgba($color-black, .8), rgba($color-black, .9)), url(../img/material-wb.png);    
    height: 100vh;
    min-height: 880px;
    position: relative;
    background-attachment: fixed;
    animation: gradient 30s ease infinite;
    background-size: cover;
}

@media screen and (max-width: 450px) {
    .resource {
        min-height: 1300px;
    }
}