.resource {
    // background: linear-gradient(45deg, rgba($color-black, .6), rgba($color-black, .8), rgba($color-black, .9)), url(../img/material-wb.png);    
    height: 100vh;
    min-height: 880px;
    position: relative;
    background-attachment: fixed;
    animation: gradient 30s ease infinite;
    background-size: cover;
}

.resource {
    position: relative;
    &__heading-primary {
        color: $color-white;
        line-height: 8rem;
    }
    &__container {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 8rem;
    }
    &__folders {
        color: $color-white;
        transition: all .2s;
        display: inline-block;
        padding: 1rem 3rem;
        &-caption {
            margin-top: 7rem;
            font-size: 2rem;
        }
        & a:visited,
        & a:link {
            z-index: 100;
            text-decoration: none;
            color: inherit;
        }
        &-open {
            display: none;
        }
        &:hover a {
            & .resource__folders-closed {
                display: none;
            }
            & .resource__folders-open {
                display: initial;
                transform: translateX(1rem);
            }
        }
    }
}

.popup {
    &__files {
        font-size: 5rem;
        text-align: center;
        display: inline-block;
        margin: 2rem 2rem;
        border: 2px solid rgba($color-black, .2);
        text-decoration: none;
        width: 20rem;
        height: 16rem;
        color: $color-grey-dark-2;
        & div {
            width: 100%;
            padding-top: 2rem;
        }
        &:hover {
            transition: all .5s;
            color: $color-blue-light;
            border: 2px solid rgba($color-blue-light, .6);
        }
        &-caption {
            padding: 0 1rem;
            vertical-align: top;
            display: inline-block;
            font-size: 2.5rem;
            font-weight: 600;
            width: 100%;
            margin-top: 1.5rem;
            line-height: 2.5rem;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 1225px) {
    .resource {
        &__container {
            top: 30%;
        }
    }
}

@media screen and (max-width: 1150px) {
    .resource {
        &__container {
            top: 45%;
            font-size: 7rem;
            text-align: center;
        }
        &__folders {
            &:nth-child(3) {
                clear: both;
            }
            &-caption {
                margin-top: 7rem;
            }
        }
    }
}

@media screen and (max-width: 1042px) {
    .popup {
        &__content {
            padding-left: 0 !important;
            text-align: center !important;
        }
    }
}

@media screen and (max-width: 982px) {
    .popup {
        &__content {
            width: 100%;
        }
    }
}

@media screen and (max-width: 850px) {
    .resource {
        &__container {
            display: inline-block;
            width: 100%;
        }
    }
}

@media screen and (max-width: 736px) {
    .resource {
        min-height: 40rem !important;
        &__container {
            top: 50vh;
            font-size: 4rem;
        }
        &__folders {
            &-caption {
                margin-top: 5rem;
            }
        }
    }
}

@media screen and (max-width: 667px) {
    .resource {
        &__container {
            font-size: 3rem;
        }
        &__folders {
            &-caption {
                margin-top: 4rem;
            }
        }
    }
}

@media screen and (max-width: 528px) {
    .resource {
        min-height: 1300px;
        &__container {
            top: 40%;
        }
    }
}

@media screen and (max-width: 451px) {
    .resource {
        min-height: 1300px;
        &__container {
            top: 27%;
        }
    }
}

@media screen and (max-width: 414px) {
    .resource {
        &__container {
            top: 45vh;
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 375px) {
    .resource {
        &__container {
            top: 35vh;
            font-size: 5rem;
        }
        &__folders {
            &-caption {
                margin-top: 5rem;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .resource {
        &__container {
            top: 45vh;
        }
    }
}

@media screen and (max-width: 450px) {
    .resource {
        min-height: 130rem;
    }
}