.resource {
    height: 100vh; // min-height: 880px;
    position: relative;
    background-attachment: fixed;
    animation: gradient 30s ease infinite;
    background-size: cover;
    &__heading-primary {
        color: $color-white;
        line-height: 8rem;
    }
    &__container {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 8rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        @include media(511px) {
            top: 35%;
        }

        @include media(480px) {
             top: 50%;
        }
    }
    &__folders {
        flex-grow: 1;
        color: $color-white;
        transition: all .2s;
        &-caption {
            margin-top: 7rem;
            font-size: 2rem;
        }
        & a:visited,
        & a:link {
            z-index: 100;
            text-decoration: none;
            color: inherit;
        }
        &-open {
            display: none;
        }
        &:hover a {
            & .resource__folders-closed {
                display: none;
            }
            & .resource__folders-open {
                display: initial;
                transform: translateX(1rem);
            }
        }
    }
}

.popup {
    z-index: 100000;
    &__files {
        font-size: 5rem;
        text-align: center;
        display: inline-block;
        margin: 2rem 2rem;
        border: 2px solid rgba($color-black, .4);
        text-decoration: none;
        width: 20rem;
        height: 16rem;
        color: $color-grey-dark-2;
        & div {
            width: 100%;
            padding-top: 2rem;
        }
        &:hover {
            transition: all .5s;
            color: $color-blue-light;
            border: 2px solid rgba($color-blue-light, .6);
        }
        &-caption {
            padding: 0 1rem;
            vertical-align: top;
            display: inline-block;
            font-size: 2.5rem;
            font-weight: 600;
            width: 100%;
            margin-top: 1.5rem;
            line-height: 2.5rem;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 1042px) {
    .popup {
        &__content {
            padding-left: 0 !important;
            text-align: center !important;
        }
    }
}

@media screen and (max-width: 982px) {
    .popup {
        &__content {
            width: 100%;
        }
    }
}