.timeline {
    background: rgba($color-black, .5);
    border-top: 2px solid $color-grey-dark-2;
    border-bottom: 2px solid $color-grey-dark-2;
    padding-top: 50rem;
    padding-bottom: 20rem;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    & div ul {
        padding: 50px 0;
    }
}

.list-element {
    &::after {
        // Black circles
        content: "";
        position: absolute;
        left: 50%;
        bottom: .5px;
        transform: translateX(-50%);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        box-shadow: .1rem .2rem .2rem rgba($color-black, .3);
        background: inherit;
    }
    &::after {
        pointer-events: none;
    }
    & div {
        position: relative;
        bottom: 0;
        width: 40rem;
        padding: 1.5rem;
        background: rgba($color-blue-grey-dark, .7);
        border-radius: 5px;
        box-shadow: 0 .5rem .5rem rgba($color-black, .8);
        &:hover .list-element__text {
            transition: all .4s .15s;
            filter: blur(2px);
        }
        &:hover .list-element__title {
            transition: all .4s .15s;
            filter: blur(2px);
        }
        &:hover .list-element__caption {
            transition: all .4s;
            animation: shade-up .4s linear;
            animation-fill-mode: forwards;
        }
        &::before {
            // triangular arrows
            content: "";
            position: absolute;
            bottom: .5rem;
            width: 0;
            height: 0;
            border-style: solid;
        }
        &:hover {
            transition: all .2s;
            box-shadow: 0 .2rem .5rem rgba($color-black, .2);
        }
    }
    &:nth-child(odd) div {
        left: -43.9rem;
        &::before {
            right: -1.6rem;
            border-width: .8rem 0 .8rem 1.6rem;
            border-color: transparent transparent transparent rgba($color-blue-grey-dark, .7);
        }
    }
    &:nth-child(even) div {
        left: 4.5rem;
        &::before {
            left: -1.6rem;
            border-width: .8rem 1.6rem .8rem 0;
            border-color: transparent rgba($color-blue-grey-dark, .7) transparent transparent;
        }
    }
}

// Transitions
.list-element {
    &::after {
        transition: background .5s ease-in-out;
    }
    &.in-view::after {
        background: $color-blue-grey-dark;
        z-index: 1;
    }
    & div {
        visibility: hidden;
        opacity: 0;
        transition: all .5s ease-in-out;
    }
    &:nth-child(odd) div {
        transform: translate3d(-20rem, 0, 0);
    }
    &:nth-child(even) div {
        transform: translate3d(20rem, 0, 0);
    }
    &.in-view div {
        transform: none;
        visibility: visible;
        opacity: 1;
    }
}

// Media Queries
@media screen and (max-width: 1000px) {
    .list-element {
        & div {
            width: 35vw;
        }
        &:nth-child(odd) div {
            left: -39vw;
        }
        &:nth-child(even) div {
            left: 5vw;
        }
    }
}

@media screen and (max-width: 750px) {
    .list-element {
        &:nth-child(odd) div {
            left: -40vw;
        }
        &:nth-child(even) div {
            left: 6vw;
        }
    }
}

@media screen and (max-width: 600px) {
    .list-element {
        margin-left: 2.5rem;
        & div {
            width: calc(100vw - 9.5rem);
            transform: translate3d(0,0,0) !important;
        }
        &:nth-child(odd) div {
            animation: slide-in .5s ease-in-out;
            left: 4.5rem;
            &::before {
                left: -1.6rem;
                border-color: transparent rgba($color-blue-grey-dark, .7) transparent transparent;
                border-width: .8rem 1.6rem .8rem 0;
            }
        }
        &:nth-child(even) div {
            left: 4.5rem;
            &::before {
                left: -1.6rem;
            }
        }
    }
}